<%- include ../stuhead.ejs %>
<% _.each(answer, function (answer) { %>
<%- include ../stud_left.ejs %>
<% }) %>

<style>
  div.tooltip-inner {
    max-width: 350px;
  }
</style>

<style type="text/css">
  .form-control.fileip {
    width: 300px;
    display: inline-block;
    margin-right: 10px;
  }
  .filebtn {
    display: inline-block !important;
  }
  .form-horizontal .form-group {
   margin-left: 0px; 
 }
 .add_field_button {
  margin-bottom: 15px;
}
input[type=file]:before {
  content: '\f0c6    Browse';
  font-family: 'FontAwesome';
  width: 87px;
  height: 32px;
  background: #00a290;
  display: block;
  color: #fff;
  font-size: 15px;
  position: absolute;
  cursor: pointer;
  margin-top: -5px;
  border-radius: 4px;
  padding: 3px 10px;
  border: 1px solid #008677;
}
.add_more{
  background-color: #00a290 !important;
  border-color: #00a290 !important;
}
.remove_field{
  font-size: 22px;
}
</style>

<section id="main-content" ng-app="postApp" ng-controller="postController">
  <section class="wrapper">
    <div class="row">
      <div class="col-md-9">



        <h2>Loan details&nbsp;&nbsp; <span class="small">Current balance last verified date: 22/09/2016</span></h2>
        <br>
        <form class="form" method="POST" ng-submit="submitForm()" enctype="multipart/form-data" name="loanform" novalidate>
          <div class="row">


            <div class="col-md-6">
             <label for="loan_purpose_name">Select the type of loan: </label><br>

             <!-- <select name="one" onchange="if(this.value=='fafsa'){this.form['fafsa'].style.visibility='visible'}else if(this.value=='bankloan'){this.form['bankloan'].style.visibility='visible'}else {this.form['other','bankloan'].style.visibility='hidden'};"> -->
             <select name="loan_type" id="loan_type" ng-model="student.loan_type" class="dropdown form-group" required>
              <option value="" selected="selected">Select loan type</option><br>
              <option value="fafsa">FAFSA</option>
              <option value="bankloan">Bank loan</option>
            </select>
            <p ng-show="submitted && loanform.loan_type.$error.required"  class="help-block has-error ng-hide">Loan type is requireds.</p>
          </div>




          <div class="col-md-6">

            <div id="fafsa"  style="display:none">

              <label for="fafsa">Select loan name:  <a href="#" data-toggle="tooltip" title="Your loan servicer manages billing and services related to your federal student loan. Loan servicers work with students on repayment plans and consolidation. It’s important to keep in touch with your servicer. If life circumstances change, the servicer may be of help. "> <i  class="glyphicon glyphicon-question-sign"></i></a></label><br>
              <select name="fafsa_values" id="fafsa_value" class="dropdown form-group" ng-model="student.fafsa_values" value="">
                <option value="" selected="selected" disabled>Select loan name</option>
                <option value="1">CornerStone</option>
                <option value="2">FedLoan Servicing (PHEAA)</option>
                <option value="3">Granite State – GSMR</option>
                <option value="4">Great Lakes Educational Loan Services, Inc.</option>
                <option value="5">HESC/Edfinancial</option>
                <option value="6">MOHELA</option>
                <option value="7">Navient</option>
                <option value="8">Nelnet</option>
                <option value="9">OSLA Servicing</option>
                <option value="10">VSAC Federal Loans</option>
                <option value="11">Other</option>
                <option value="12">I don’t know </option>
              </select>
              <p ng-show="submitted && loanform.fafsa_values.$error.required"  class="help-block has-error ng-hide">Loan type is requireds.</p>
            </div>

            <div id="bankloan"  style="display:none;">
             <div class="form-group">
              <label for="loan_bankname">Enter your bank name: </label>
              <input type="text" ng-model="student.loan_bankname" class="form-control" id="loan_bankname" name="loan_bankname" placeholder="Enter your education institute" value="">
              <p ng-show="submitted && loanform.loan_bankname.$error.required"  class="help-block has-error ng-hide">Bank name is required.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="loan_accountno">Enter your loan account number:<a href="#" data-toggle="tooltip" title="We can only help you crowd fund 1 loan at a time. Choose your largest loan or the one that is due sooner. "> <i  class="glyphicon glyphicon-question-sign"></i></a> </label>
            <input type="text" ng-model="student.loan_accountno" class="form-control" id="loan_accountno" name="loan_accountno" placeholder="Enter your loan account number" value="" required>
            <p ng-show="submitted && loanform.loan_accountno.$error.required"  class="help-block has-error ng-hide">Loan account number is required.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="loan_amount">Enter your loan current balance: <a href="#" data-toggle="tooltip" title=" This is the remaining amount of balance due for you to pay your loan/s up. For FAFSA loans, it is the combination of all your loans (principle, interest, fees, and subsidized or unsubsidized) if you have multiple loans. Look for ‘current balance’ on your statement."><i  class="glyphicon glyphicon-question-sign"></i></a> </label>
            <input type="text" ng-model="student.loan_amount" class="form-control" id="loan_amount" name="loan_amount" placeholder="Enter your loan account number" value="" required>
            <p ng-show="submitted && loanform.loan_amount.$error.required"  class="help-block has-error ng-hide">Loan amount is required.</p>
          </div>

        </div>
      </div>
      <br>


      <br>
      <div class="row">
       <div class="col-md-12">
         <h2>Loan details</h2>
       </div>
       <br><br><br>
     </div>
     <div class="row">
      <div class="col-md-12">


        <div class="input_fields_wrap form-horizontal">
          <button class="add_field_button btn btn-primary add_more">Add More Fields&nbsp; <span><i class="fa fa-plus"></i></span></button>
          <div class="form-group">
            <input class="form-control fileip" ng-model="student.document_name" type="text" name="document_name"  placeholder="Enter the name of the file" required>
            <p ng-show="submitted && loanform.document_name.$error.required" class="help-block has-error ng-hide" >Document name is required.</p>
            <input type="file" ng-model="student.file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/ class="filebtn">   
            <p ng-show="submitted && loanform.file.$error.required"  class="help-block has-error ng-hide">Document is required.</p>
            


          </div> 
        </div>
        <br><br>
        <button type="submit" ng-click="submitted = true" class="btn btn-default text-center">Submit</button>
        <a href="../loan_view/loan_view"><button type="cancel" class="btn btn-default text-center">Cancel</button></a>



    </div>
    <br><br><br>
  </div>
</div>
</form> 

<%- include ../stud_right.ejs %>
</section>

</section>  

<%- include ../stufoot.ejs %>



<script type="text/javascript">
  $(document).ready(function(){
    $('#loan_type').change(function(){

      if($(this).val()=='fafsa'){

        $('#fafsa').show();
        $('#bankloan').hide();

      }else{
        $('#fafsa').hide();
        $('#bankloan').show();
      }
    });
  });
</script>
<script>
  var postApp = angular.module('postApp', []);
  postApp.controller('postController', function ($scope, $http) {
   $scope.student={};

   $scope.uploadFile = function (files) {
    $('#submit-notes').hide();
    $('.loading').show();
    var fd = new FormData();
    fd.append("file", files[0]);
    console.log(fd);
    $http.post('/upload_file', fd, {
      withCredentials: true,
      headers: {'Content-Type': undefined},
      transformRequest: angular.identity
    }).success(function (data) {
      $scope.student.filename = data;
      $('#submit-notes').show();
      $('.loading').hide();
    });
  };

 <% _.each(answer, function (answer) { %>

  $scope.submitForm = function () {
    if ($scope.loanform.$valid) {
      $http({
        method: 'POST',
//                    dataType: 'json',
url: '/addloan_submit/<%= answer.loan_id %>',
                    data: $scope.student, //forms user object
                    headers: {'Content-Type': 'application/json'}
                  }).success(function (data) {
                    console.log(data);
                    window.location = '/viewprofile/<%= answer.student_id %>';
                  });

                }


              };
              <% }) %>
            });

          </script>

          <script>
            $(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
      e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            // $(wrapper).append('<div><input type="text"  class="form-control" name="mytext[]"/><input type="file"><a href="#" class="remove_field">Remove</a></div>'); //add input box
            $(wrapper).append('<div class="form-group"> <input class="form-control fileip" ng-model="student.document_name" type="text" name="document_name"  placeholder="Enter the name of the file"> <input type="file" ng-model="student.file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/ class="filebtn"> <a href="#" class="remove_field"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>'); //add input box
          }
        });
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
      e.preventDefault(); $(this).parent('div').remove(); x--;
    })
  });
</script>
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

