<%- include ../admin/admin_head.ejs %>
<%- include ../admin/sidebar.ejs %>
<script>
    function htmlEncode(value) {
        return $('<div/>').text(value).html();
    }

    function htmlDecode(value) {
        return $('<div/>').html(value).text();
    }
    $(document).ready(function () {
        $('#about_us').html(htmlDecode('<%= about_us %>'));
    });
</script>
<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-9 main-chart">

                <h1 class="phead">About us<a class="btn btn-primary pull-right" href="/admin/editaboutus"><i class="fa fa-pencil"></i> Edit</a></h1>
                <br>
                <div class="panel panel-default">

                    <div class="panel-heading"><%= recordset.name %></div>
                    <div class="panel-body" id="about_us" ></div>

                </div>
                <hr style="width:30%">
                <br>
                <h1 class="phead">Page Video</h1><br>
                <div class="col-sm-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <% var video_link = recordset.video_link  %>
                        <% var video_link = video_link.split('?v=')  %>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video_link[1] %>" frameborder="0" allowfullscreen></iframe>

                    </div>
                </div>

            </div>

           <%- include ../admin/notifications.ejs %>
        </div>
    </section>
</section>

<%- include ../admin/stufoot.ejs %>
<script>
    $('#static-pages').addClass('active');
    $('#aboutus').addClass('active');
</script>