<%- include ../admin/admin_head.ejs %>
<%- include ../admin/sidebar.ejs %>
<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-9 main-chart">
                <div class="row mtbox">
                    <div class="col-md-3 col-sm-3 box0">
                        <div class="box1">
                            <span><i class="fa fa-group" aria-hidden="true"></i></span>
                            <h4 style="font-size:16px">TOTAL PROFILES</h4>
                            <h3><%= student_count %></h3>
                        </div>
                        <p><a href="/admin/allstudents/1">See all profiles</a></p>
                    </div>
                    <div class="col-md-3 col-sm-3 box0">
                        <div class="box1">
                            <span><i class="fa fa-check" aria-hidden="true"></i></span>
                            <h4 style="font-size:16px">ACTIVE PROILES</h4>
                            <h3><%= active_student_count %></h3>
                        </div>
                        <p><a href="/admin/activestudent/1">See active profiles</a></p>
                    </div>
                    <div class="col-md-3 col-sm-3 box0">
                        <div class="box1">
                            <span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            </span>
                            <h4 style="font-size:16px">DE-ACTIVE PROFILES</h4>
                            <h3><%= inactive_student_count %></h3>
                        </div>
                        <p><a href="/admin/inactivestudent/1">See de-active profiles</a></p>
                    </div>
                    <div class="col-md-3 col-sm-3 box0">
                        <div class="box1">
                            <span><i class="fa fa-ban" aria-hidden="true"></i></span>
                            <h4 style="font-size:16px">LOCKED PROFILES</h4>
                            <h3><%= locked_student_count %></h3>
                        </div>
                        <p><a href="/admin/lockedstudent/1">See locked profiles</a></p>
                    </div>
                </div>

            </div><!-- /col-lg-9 END SECTION MIDDLE -->


            <!-- **********************************************************************************************************************************************************
            RIGHT SIDEBAR CONTENT
            *********************************************************************************************************************************************************** -->                  
            <%- include ../admin/notifications.ejs %>

        </div>
    </section>
</section>
<%- include ../admin/stufoot.ejs %>
<script>
    $('#admin-dash').addClass('active');
</script>