<%- include ../admin/admin_head.ejs %>
<%- include ../admin/sidebar.ejs %>

<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12 main-chart white_bg">
                <h1 class="phead">All Transactions</h1><br>
                <% if(post.length > 0){ %>
                <button id="generate-excel" class="btn btn-primary pull-right">Generate Excel sheet</button>
                <% } %>
                <div class="col-sm-12">
                    <!--<div id="dvData" class="embed-responsive embed-responsive-16by9">-->
                    <div id="dvData">

                        <table class="table table-hover table2excel">
                            <thead>
                                <tr>
                                    <th>Funding On</th>
                                    <th>Transferred On</th>
                                    <th>Funded Amount</th>
                                    <th>Transaction Charge</th>
                                    <th>Percentage charge</th>
                                    <th>Balance To Transfer</th>
                                    <th>Funder Name</th>
                                    <th>Funder Email</th>
                                    <th>Student Funded</th>
                                    <th>Transferred (Y/N)?</th>

                                    <!--<th style="display: none">Stripe Transaction Details</th>-->
                                </tr>
                            </thead>
                            <tbody>
                             
                                <% if(post.length > 0){ %>
                                <% _.each(post, function (values) { %>

                                <tr>
                                    <td> <%= values.funding_date %>
                                        <%= values.funding_time %>

                                    </td>
                                    <td> <%= values.funding_date %></td>
                                    <td>
                                        $ <%= values.funded_amount %></td>
                                    <td> $ <%= values.transaction_charge %>
                                    </td>
                                    <td>
                                        $ <%= values.percentage_charge %></td>
                                    <td>$ <%= values.balance_to_transfer %></td>
                                    <td><%= values.donors_name %></td>
                                    <td><%= values.donor_email %></td>

                                    <td><label><a target="_blank" href="<%= sails.getBaseUrl()+'/admin/viewdetails/'+ values.student_id %>"><%= values.student_firstname %> <%= values.student_lastname %></a></label></td>
                                    <td><%= values.payout=='1'?'Y':'N' %></td>
                                    <!--<td style="display: none"> <%= values.stripe_token %></td>-->
                                </tr>
                                <% }) %>
                                <% }else{ %>
                                <tr><td>No Record Found</td></tr>
                                <% } %>
                            </tbody>
                        </table>

                    </div>
                    <div class="text-right">
                        <% if(post.length > 0){ %>
                        <ul class="pager pagination">
                            <li class="previous"><a href="/admin/donors/<%= the_prev %>">&larr; Previous</a></li>
                            <li>
                                <% for(var i=1; i<=tot; i++) { %>
                                <a href="/admin/donors/<%= i %>"><%= i %></a>
                                <% } %>
                            </li>

                            <li class="next"><a href="/admin/donors/<%= the_next %>">Next &rarr;</a></li>
                        </ul>
                        <% } %>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>
<%- include ../admin/stufoot.ejs %>
<!--<link href="../../index_files/stdash/css/sweetalert.css" rel="stylesheet">
<script src="../../index_files/stdash/js/sweetalert.min.js"></script>
<script src="../../index_files/stdash/js/sweetalert-dev.js"></script>-->
<script src="../../index_files/stdash/js/jquery.table2excel.js"></script>
<script>
    $('#generate-excel').click(function () {
        $(function () {
            $(".table2excel").table2excel({
                exclude: ".noExl",
                name: "Excel Document Name",
                filename: "myFileName",
                fileext: ".xls",
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true
            });
        });
    });
</script>
<script>
    $('#donors-management').addClass('active');
    $('#alltransactions').addClass('active');

</script>