<%- include ../admin/admin_head.ejs %>
<%- include ../admin/sidebar.ejs %>


<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-9 main-chart">
                <h1 class="phead">FAQ</h1>
                <br>
                <div class="panel panel-default">
                    <div class="panel-body">

                        <!--<form action="/updatefaq" class="form-group" method="POST" role="form">-->
                        <form class="form" ng-submit="submitForm()" name="faqform" novalidate>
                            <div class="form-group row">
                                <label class="col-xs-2 control-label">Enter Category</label>
                                <div class="col-xs-10">
                                    <input type="text" name="category" ng-model="admin.category" value="<%= faq.category %>" id="category" autocomplete="off" class="form-control" required>
                                    <span ng-show="submitted && faqform.name.$error.required"  class="help-block has-error ng-hide">Category is required.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-2 control-label">Enter Title</label>
                                <div class="col-xs-10">
                                    <input type="text" name="name" ng-model="admin.name" value="<%= faq.name %>" class="form-control" required>
                                    <span ng-show="submitted && faqform.name.$error.required"  class="help-block has-error ng-hide">Title is required.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-2 control-label">Enter Description</label>
                                <div class="col-xs-10">
                                    <textarea class="form-control" rows="5" cols="104" name="description"  ng-model="admin.description" required><%= faq.description %></textarea>
                                    <span ng-show="submitted && faqform.description.$error.required"  class="help-block has-error ng-hide">Description is required.</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <input type="submit" ng-click="submitted = true" class="btn btn-primary col-xs-offset-5" value="Update">
                            </div>
                        </form>

                    </div>
                </div>

            </div>

            <%- include ../admin/notifications.ejs %>
        </div>
    </section>
</section>

<%- include ../admin/stufoot.ejs %>
<script src="../../index_files/stdash/js/typeahead.js"></script>

<script>
    $('#category').typeahead({
        onSelect: function (item) {
            console.log(item)
            $('#category').val(item.text);
            $scope.admin.category = item.text;
        },
        ajax: {
            url: "/get_category",
            timeout: 500,
            displayField: 'category',
            triggerLength: 1,
            method: "get",
            loadingClass: "loading-circle",
            preDispatch: function (query) {
                return {
                    search: query
                }
            },
            preProcess: function (data) {
                console.log(data.category);
                return data.category;
            }
        }
    });
</script>
<script>
    $('#faq').addClass('active');
    var postApp = angular.module('postApp', []);
    postApp.controller('postController', function ($scope, $http) {
        $scope.admin = {};

        $scope.admin.faq_id = '<%= faq.id %>';
        $scope.admin.category = '<%= faq.category %>';
        $scope.admin.name = '<%= faq.name %>';
        $scope.admin.description = `<%= faq.description %>`;
                $scope.submitForm = function () {
                    if ($scope.faqform.$valid) {
                        $http({
                            method: 'POST',
//                    dataType: 'json',
                            url: '/updatefaq',
                            data: $scope.admin, //forms user object
                            headers: {'Content-Type': 'application/json'}
                        }).success(function (data) {
                            window.location = '/admin/faq';
                        });
                    }
                };
    });

</script>
<script>
    $('#faq').addClass('active');
    $('#static-pages').addClass('active');
</script>