<%- include ../admin/admin_head.ejs %>
<%- include ../admin/sidebar.ejs %>
<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-9 main-chart">

                <h1 class="phead">About us</h1>
                <br>
                <div class="panel panel-default">
                    <div class="panel-body">

                        <!--<form action="/updateaboutus" class="form-group" method="POST" role="form">-->
                        <form class="form" ng-submit="submitForm()" name="aboutusform" novalidate>
                            <div class="form-group row">
                                <label class="col-xs-2 control-label">Enter Title</label>
                                <div class="col-xs-10">
                                    <input type="text" ng-model="admin.about_us_title" name="about_us_title" id="about_us_title" value="" class="form-control" required>
                                    <span ng-show="submitted && aboutusform.about_us_title.$error.required"  class="help-block has-error ng-hide">Title is required.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-2 control-label">Enter Description</label>
                                <div class="col-xs-10">

                                    <textarea ui-tinymce="tinymceOptions" ng-model="admin.about_us" name="about_us" id="about_us"  required></textarea>


                                    <span style="display: none;" class="help-block has-error description">Description is required.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-2 control-label">Enter Video Link</label>
                                <div class="col-xs-10">
                                    <input type="text" name="video_link" id="video_link" ng-model="admin.video_link" class="form-control" value="" required>
                                    <span ng-show="submitted && aboutusform.video_link.$error.required"  class="help-block has-error ng-hide">Video Link is required.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <input type="submit" ng-click="submitted = true" class="btn btn-primary col-xs-offset-5 update_about_us" value="Update">
                            </div>
                        </form>

                    </div>
                </div>

            </div>

            <%- include ../admin/notifications.ejs %>
        </div>
    </section>
</section>

<%- include ../admin/stufoot.ejs %>
<script>
    $('#aboutus').addClass('active');
    $('#static-pages').addClass('active');
</script>
<script src="../../index_files/stdash/js/tinymce/jquery.tinymce.min.js"></script>
<script src="../../index_files/stdash/js/tinymce/tinymce.min.js"></script>
<script>

    function htmlEncode(value) {
        return $('<div/>').text(value).html();
    }

    function htmlDecode(value) {
        return $('<div/>').html(value).text();
    }
    $(document).ready(function () {
        // $('#about_us').html('<%= about_us %>');
        tinymce.init({
            selector: 'textarea',
            mode: 'specific_textareas',
            height: 300,
            element_format: 'html',
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            content_css: '//www.tinymce.com/css/codepen.min.css',
        });


    });
    var postApp = angular.module('postApp', []);
    postApp.controller('postController', function ($scope, $http) {

        $scope.admin = {};
        $scope.admin.about_us_title = '<%= recordset.name %>';
        $scope.admin.video_link = '<%= recordset.video_link %>';

        $scope.admin.about_us = htmlDecode("<%= about_us %>");


        $scope.submitForm = function () {
            var text = tinymce.activeEditor.getContent({
                format: 'text'
            });
            tinymce.activeEditor.on('keyup', function (ed, e) {
                $('.description').hide();
            });
            $scope.admin.about_us = text;
            if (!text.trim()) {
                $('.description').show();
            } else {
                $('.description').hide();
                if ($scope.aboutusform.$valid) {
                    $http({
                        method: 'POST',
//                    dataType: 'json',
                        url: '/updateaboutus',
                        data: $scope.admin, //forms user object
                        headers: {'Content-Type': 'application/json'}
                    }).success(function (data) {
                        window.location = '/admin/aboutus';
                    });
                }
            }
        };
    });
//    });

</script>

