<%- include ../admin/admin_head.ejs %>
<%- include ../admin/sidebar.ejs %>

<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <%- req.flash('error') %>
            <%- req.flash('success') %>
            <div class="col-lg-9 main-chart">
                <h1 class="phead">Frequently Asked Questions
                    <!--                    <a href="/editfaq" class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> Edit</a>-->
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#myModal" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add</a>
                </h1>
                <br>
                <%  
                _.each(category, function (category) { 
                %>
                <h3 class="panel-title"><%= category %></h3>
                <div class="panel panel-default">

                    <%  
                    _.each(faq, function (faq) {
                    if(faq.category==category){
                    %>
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= faq.id %>"><b><%= faq.name %></b></a>
                        <span class="pull-right">
                            <a style="display: block;" href="/admin/editfaq/<%= faq.id %>" title="Edit" class="pull-left"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a style="display: block;" href="javascript:void(0)" data="<%= faq.id %>" title="Delete" class="pull-right delete-faq"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div id="collapse<%= faq.id %>" class="panel-collapse collapse">
                        <div class="panel-body">
                            <%= faq.description %>
                        </div>
                    </div>
                    <%
                    }
                    })
                    %>
                </div>

                <%
                })
                %>
            </div>

            <%- include ../admin/notifications.ejs %>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #00A290;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add FAQ</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" ng-submit="submitForm()" role="form" name="faqform" novalidate>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Category</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="admin.category" class="form-control" id="category"  autocomplete="off" name="category" required/>
                                    <span ng-show="submitted && faqform.category.$error.required"  class="help-block has-error ng-hide">Category is required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Question</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="admin.question"  name="question" required/>
                                    <span ng-show="submitted && faqform.question.$error.required"  class="help-block has-error ng-hide">Question is required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Answer</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" ng-model="admin.description" name="description" cols="60" rows="5" required></textarea>
                                    <span ng-show="submitted && faqform.description.$error.required"  class="help-block has-error ng-hide">Description is required.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" ng-click="submitted = true" class="btn btn-default">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>

<%- include ../admin/stufoot.ejs %>
<script src="../../index_files/stdash/js/typeahead.js"></script>
<script>
                                        var postApp = angular.module('postApp', []);
                                        postApp.controller('postController', function ($scope, $http) {
                                            $('#category').typeahead({
                                                onSelect: function (item) {
                                                   
                                                    $('#category').val(item.text);
                                                    $scope.admin.category = item.text;
                                                },
                                                ajax: {
                                                    url: "/get_category",
                                                    timeout: 500,
                                                    displayField: 'category',
                                                    triggerLength: 1,
                                                    method: "get",
                                                    loadingClass: "loading-circle",
                                                    preDispatch: function (query) {
                                                        return {
                                                            search: query
                                                        }
                                                    },
                                                    preProcess: function (data) {
                                                        return data.category;
                                                    }
                                                }
                                            });
                                            $scope.admin = {};
                                            $scope.submitForm = function () {
                                                if ($scope.faqform.$valid) {
                                                    $http({
                                                        method: 'POST',
//                    dataType: 'json',
                                                        url: '/addfaq',
                                                        data: $scope.admin, //forms user object
                                                        headers: {'Content-Type': 'application/json'}
                                                    }).success(function (data) {
                                                        window.location = '/admin/faq';
                                                    });

                                                }
                                            };
                                        });

</script>
<link href="../../index_files/stdash/css/sweetalert.css" rel="stylesheet">
<script src="../../index_files/stdash/js/sweetalert.min.js"></script>
<script src="../../index_files/stdash/js/sweetalert-dev.js"></script>
<script>
                                        $('.delete-faq').click(function () {
                                            var faq_id = $(this).attr('data');
                                            swal({title: "Are you sure?",
                                                type: "warning",
                                                showCancelButton: true,
                                                confirmButtonColor: "#DD6B55",
                                                confirmButtonText: "Yes, Delete it!",
                                                closeOnConfirm: false
                                            },
                                            function () {

                                                $.ajax({
                                                    url: "/admin/delete_faq",
                                                    type: "POST",
                                                    async: true,
                                                    dataType: 'json',
                                                    data: {faq_id: faq_id},
                                                    //your form data to post goes here
                                                    success: function (response) {
                                                        window.location.reload();
                                                    }
                                                });

                                            });
                                        });
</script>
<script>
    $('#faq').addClass('active');
    $('#static-pages').addClass('active');
</script> 
