<%- include ../admin/admin_head.ejs %>
<%- include ../admin/sidebar.ejs %>
<!--<link rel="stylesheet" type="text/css" href="../../index_files/stdash/css/jquery.dataTables.css">
<script type="text/javascript" language="javascript" src="js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="../../index_files/stdash/js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" >
    $(document).ready(function () {
        var dataTable = $('#employee-grid').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: "/getstudents", // json datasource
                type: "post", // method  , by default get
                error: function () {  // error handling
                    $(".employee-grid-error").html("");
                    $("#employee-grid").append('<tbody class="employee-grid-error"><tr><th colspan="3">No data found in the server</th></tr></tbody>');
                    $("#employee-grid_processing").css("display", "none");

                }
            }
        });
    });
</script>
<style>
    div.container {
        margin: 0 auto;
        max-width:760px;
    }
    div.header {
        margin: 100px auto;
        line-height:30px;
        max-width:760px;
    }
    body {
        background: #f7f7f7;
        color: #333;
        font: 90%/1.45em "Helvetica Neue",HelveticaNeue,Verdana,Arial,Helvetica,sans-serif;
    }
</style>-->






<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12 main-chart">
                <h1 class="phead">Locked Student Listing</h1><br>
                <div class="col-sm-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <!--                        <div class="container">
                                                    <table id="employee-grid"  cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>student_id</th>
                                                                <th>student_firstname</th>
                                                                <th>student_lastname</th>
                                                                <th>student_contactno</th>
                                                                <th>student_email</th>
                                                                <th>student_country</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>-->
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>Email Id</th>
                                    <th>Country</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% _.each(post, function (corndog) { %>
                                <tr title="Locked">
                                    <td><% if(corndog.profile_lock==1) { %>
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                        <% }else{ %>
                                        <i class="fa fa-unlock" aria-hidden="true"></i>
                                        <% } %><%= corndog.student_firstname %> <%= corndog.student_lastname %></td>
                                    <td> <%= corndog.student_email %></td>
                                    <td> <%= corndog.student_country %></td>

                                    <td>
                                        <% if(corndog.loan_amount!=null) {%>
                                        $ <%= corndog.loan_amount %>
                                        <%
                                        }else{

                                        }
                                        %></td>

                                <% if (corndog.student_active == 0){%>
                                    <td><a href="javascript:void(0);" data='<%= corndog.student_id %>' data-value='1' class="btn btn-danger btn-sm change_status"> De-Active</a></td>
                                    <%
                                    }else{%>
                                    <td><a href="javascript:void(0);" data='<%= corndog.student_id %>' data-value='0' class="btn btn-success btn-sm change_status">Active</a></td>
                                    <%
                                    }
                                    %>
                                    <td class="text-right">
                                        <a type="button" href="/viewdetails/<%= corndog.student_id %>" class="btn btn-info btn-sm"   data-original-title="View Details">View</a>
                                    </td>
                                </tr>
                                <% }) %>
                                <!--                                <tr>
                                                                    <td>
                                                                        No Record Found
                                                                    </td>
                                                                </tr>-->

                            </tbody>
                        </table>

                    </div>
                    <div class="text-right">
                        <ul class="pager pagination">
                            <li class="previous"><a href="/admin/inactivestudent/<%= the_prev %>">&larr; Previous</a></li>
                            <li>
                                <% for(var i=1; i<=tot; i++) { %>
                                <a href="/admin/inactivestudent/<%= i %>"><%= i %></a>
                                <% } %>
                            </li>

                            <li class="next"><a href="/admin/inactivestudent/<%= the_next %>">Next &rarr;</a></li>
                        </ul>
                    </div>
                </div>


            </div><!-- /col-lg-9 END SECTION MIDDLE -->


            <!-- **********************************************************************************************************************************************************
            RIGHT SIDEBAR CONTENT
            *********************************************************************************************************************************************************** -->                  


        </div>
    </section>
</section>
<%- include ../admin/stufoot.ejs %>
<link href="../../index_files/stdash/css/sweetalert.css" rel="stylesheet">
<script src="../../index_files/stdash/js/sweetalert.min.js"></script>
<script src="../../index_files/stdash/js/sweetalert-dev.js"></script>
<script>
    $('.change_status').click(function () {
        var status = $(this).attr('data-value') == '0' ? 'Activate' : 'De-activate';
        var stu_status = $(this).attr('data-value');
        var student_id = $(this).attr('data');
        swal({title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, " + status + " it!",
            closeOnConfirm: false
        },
        function () {

            $.ajax({
                url: "/change_status",
                type: "POST",
                async: true,
                dataType: 'json',
                data: {student_id: student_id, stu_status: stu_status},
                //your form data to post goes here
                success: function (response) {
                    window.location.reload();
                }
            });

        });
    });
</script>
<script>
    $('#lockedstudent').addClass('active');
     $('#student-management').addClass('active');
</script>