<%- include ../admin/admin_head.ejs %>
<%- include ../admin/sidebar.ejs %>
<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-9 main-chart">
                <h1 class="phead">Mail Template</h1>
                <br>

                <table class="table table-hover table2excel">
                    <thead>
                        <tr>
                            <th>Template Name</th>
                            <th>subject</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(mail_template.length > 0){ %>
                        <% _.each(mail_template, function (mail_template) { %>
                        <tr>
                            <td><%= mail_template.template_name %></td>
                            <td><%= mail_template.subject.substr(0,25) %>...</td>
                        
                            <td><%= mail_template.content.substr(0,25) %>...</td>
                            <td><a style="display: block;" href="/admin/editmailtemplate/<%= mail_template.id %>" data="<%= mail_template.id %>" title="Edit" class="pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>

                        </tr>
                        <% }) %>
                        <% }else{ %>
                        <tr><td>No Record Found</td></tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <%- include ../admin/notifications.ejs %>
        </div>
    </section>
</section>

<%- include ../admin/stufoot.ejs %>
<script>
    $('#static-pages').addClass('active');
    $('#aboutus').addClass('active');
</script>