<%- include ../admin/admin_head.ejs %>
<%- include ../admin/sidebar.ejs %>
<style>
    .image_pro{
        width:100%; 
        margin-top:15px
    }
    /*    ul li {
        list-style: disc !important;
    }*/
</style>

<section id="main-content">
    <section class="wrapper">
        <%- req.flash('error') %>
        <%- req.flash('success') %>
        <div class="col-md-12 main-chart">
            <div class="row white_bg" >
                <% if (student_info.student_profile_pic_path == '' || student_info.student_profile_pic_path == null) { %>
                <div class="col-md-7">

                    <img src="../../index_files/blank_dp.jpg" class="image_pro" />

                </div>
                <% } else { %>
                <div class="col-md-7">

                    <img src="<% sails.getBaseurl() %>/index_files/uploads/<%= student_info.student_id %>/<%= student_info.student_profile_pic_path %>" class="image_pro" />

                </div>
                <% } %>

                <div class="col-md-5">
                    <% if (student_info.profile_lock == '1') { %>
                    <div class="alert alert-danger" style="margin-top:15px;padding:5px;"> <strong>Profile Status :</strong><span class="grn"> Locked by Admin </span></div>
                    <div><a target="_blank" href="/admin/studlockedprofile/<%= student_info.student_id %>" class="btn btn-danger">View locked profile</a></div>
                    <% } else { %>
                    <div class="alert alert-success" style="margin-top:15px;padding:5px;"> <strong>Profile Status :</strong><span class="grn"> Profile is Active</span></div>
                    <% } %>

                    <h2><%= student_info.student_firstname %> <%= student_info.student_lastname %></h2>
                    <p class="front-info">Email: <%= student_info.student_email %></p>
                    <p class="front-info">Contact: <%= student_info.student_contactno %></p>
                    <div class="row money_info">
                        <div class="col-sm-3">

                            <h4>Raised</h4><h3>$<%= student_info.total_funded %></h3>

                        </div>
                        <div class="col-sm-6" style="text-align:center;">

                            <!-- <canvas class="text-center" id="serverstatus14" height="120" width="120"></canvas>
                            <p class="indicate" style="margin-top: -75px;"><strong>70%</strong></p>
                            -->

                            <canvas id="serverstatus14" height="120" width="120"></canvas>
                            <%if (student_info.loan_amount == "0") { %>
                            <p class="text-center indicate">0%</p>
                            <input type="hidden" id="loan_percent" value="0">
                            <% } else {%>
                            <% var percentage= (student_info.total_funded/student_info.loan_amount)*100 %>
                            <p class="text-center indicate" style="margin-top:-75px;"><%= percentage.toFixed(2) %> %</p>
                            <input type="hidden" id="loan_percent" value="<%= percentage.toFixed(2) %>">
                            <% } %>

                        </div>
                        <div class="col-sm-3">
                            <h4>Goal</h4><h3>$<%= student_info.loan_amount %></h3>
                        </div>


                    </div>
                    <div class="row">

                        <% if(student_info.loan_id != null){ %>
                        <div class="col-md-6" ><a href="javascript:void(0);" data-toggle="modal" data-target="#internalNotes" class="btn btn-primary"> Add Notes</a></div>
                        <% } %>
                        <!--<div class="col-md-6"><a href="javascript:void(0);" data-toggle="modal" data-target="#externalNotes" class="btn btn-primary">Add External Notes</a></div>-->
                    </div>
                    <br>
                </div>
                <br>

            </div>

            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home" class="profile_tabs">Personal details</a></li>
                    <li><a data-toggle="tab" href="#menu1"  class="profile_tabs">Education Details</a></li>
                    <li><a data-toggle="tab" href="#menu2" class="profile_tabs">Loan Details</a></li>
                    <li><a data-toggle="tab" href="#menu3" class="profile_tabs">Media</a></li>
                    <li><a data-toggle="tab" href="#menu5">Admin Internal Notes</a></li>
                    <li><a data-toggle="tab" href="#menu4">Admin External Notes</a></li>
                    <li><a data-toggle="tab" href="#menu6">Donor's details</a></li>
                </ul>
                <div class="tab-content">

                    <div id="home" class="tab-pane fade in active">
                        <div class="col-md-12 white_bg">
                            <!--                            <div class="row pull-right">
                                                            <a href="/personal_edit/<%= student_info.student_id %>" class="btn btn-theme04 edit_op"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                                                        </div><br>-->
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">First Name: <br>
                                        </span><%= student_info.student_firstname %></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">Last Name: <br>
                                        </span><%= student_info.student_lastname %></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">Birth Date: <br>
                                        </span><%= student_info.student_birthdate %></p>
                                </div>

                            </div><br>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">Contact Number: <br>
                                        </span><%= student_info.student_contactno %></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">Email: <br>
                                        </span><%= student_info.student_email %></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="info"> <span class="small">Permanent Address: <br>
                                        </span><%= student_info.student_address %></h4>
                                </div>

                            </div><br>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">City: <br>
                                        </span><%= student_info.student_city %></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">State: <br>
                                        </span><%= student_info.student_state %></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">Country: <br>
                                        </span><%= student_info.student_country %></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">Zip Code: <br>
                                        </span><%= student_info.zip_code %></p>
                                </div>
                            </div><br>
                            <div class="row">

                            </div><br>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="info"> <span class="small">About Me: <br>
                                        </span><span id="about_me"></span></p>
                                </div>
                            </div>
                            <div class="row"><br>
                                <div class="col-md-12 bot">
                                    <p class="info"> <span class="small">My Ambition: <br>
                                        </span><span id="ambition"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade"><div class="col-md-12 white_bg" style="min-height:300px;">
                            <!--<div class="row pull-right"> <a href="/education_edit/<%= student_info.student_id %>" class="btn btn-theme04 edit_op"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></div><br>-->

                            <div class="row">
                                <div class="col-md-4">
                                    <p class="info">  <span class="small">Education Institute: <br>
                                        </span><%= student_info.student_education_institute %></p>
                                </div>
                                <div class="col-md-4 bot">
                                    <p class="info">  <span class="small">Currently Studying: <br>
                                        </span><%= student_info.student_education_fieldofstudy  %></p>
                                </div>
                            </div> 
                        </div>
                    </div>

                    <div id="menu2" class="tab-pane fade">
                        <div class="col-md-12 white_bg">
                            <div style="font-size:22px;" class="row edit_op">Current Loan


                                <br>
                                <br>
                            </div>
                            <%if (student_info.loan_bankname != '' || student_info.fafsa_values != '' || student_info.fafsa_values != null || student_info.loan_bankname != null) { %>
                            <div class="row">

                                <div class="col-md-3">
                                    <p class="info">  <span class="small">Loan Amount: <br>
                                        </span>$<%= student_info.loan_amount %></p>

                                </div>

                                <div class="col-md-6">
                                    <%if (student_info.loan_bankname == '') { %>
                                    <div class="col-md-6">
                                        <p class="info">  <span class="small">Type of Loan: <br>
                                            </span>FAFSA</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="info">  <span class="small">Name of Loan: <br>
                                            </span><%= student_info.fafsa_values %></p>
                                    </div>
                                    <% } else { %>
                                    <div class="col-md-6">
                                        <p class="info"> <span class="small">Type of Loan: <br>
                                            </span>Bank loan</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="info"> <span class="small">Bank Name: <br>
                                            </span><%= student_info.loan_bankname %></p>
                                    </div>
                                    <% } %>
                                </div>



                                <div class="col-md-3">
                                    <p class="info">  <span class="small">Loan Account Number: <br>
                                        </span><%= student_info.loan_accountno %></p>
                                </div>

                                <br><br><br><br><br>
                            </div>
                            <% } %>
                            <div>


                            </div>
                        </div>
                    </div>
                    <div id="menu3" class="tab-pane fade"><div class="col-md-12 white_bg">
                            <h3><u>Media</u> &nbsp;&nbsp;&nbsp;&nbsp;
                                <!--<span class="pull-right"><a href="/media_edit/<%= student_info.student_id %>" class="btn btn-theme04"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></span>-->
                            </h3><br>

                            <div class="row">
                                <div class="col-md-2">
                                    <h3><em>Your Video</em></h3>
                                </div></div>
                            <div class="row">

                                <div class="col-md-5">

                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe width="560" height="315" src="<%= student_info.video_link %>" frameborder="0" allowfullscreen> 
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                            <br>   
                            <div class="row">
                                <div class="col-md-2">
                                    <h3><em>Your Images</em></h3>
                                </div>
                            </div>
                            <div class="row">
                                <% _.each(pics, function (pics) { %>
                                <div class="col-md-4" >
                                    <img class="img-responsive" src="<% sails.getBaseurl() %>/index_files/uploads/<%= student_info.student_id %>/<%= pics.photo_path %>"><br><br>
                                </div>

                                <% }) %>

                            </div>
                        </div>
                    </div>
                    <div id="menu4" class="tab-pane ">
                        <div class="col-md-12 white_bg">
                            <h3>External Notes</h3>
                            <% _.each(admin_comments, function (comments) {
                            if(comments.note_type==2){
                            %>
                            <div class="row">
                                <ul class="col-md-6" style="list-style:disc;padding-left: 27px;">
                                    <li style="list-style: disc !important;">
                                        <% var comment=''; %>
                                        <% if(comments.note !='undefined'){ %>
                                        <% comment=comments.note %>

                                        <%= comment %>
                                        <% }else{ %>
                                        <%= comment %>
                                        <% } %>
                                    </li>
                                </ul>
                                <ul class="col-md-6">
                                    <li>
                                        <% var img=''; %>
                                        <% if(comments.note_attachment !='undefined'){ %>
                                        <a href="<% sails.getBaseurl() %>/index_files/uploads/<%= student_info.student_id %>/<%= comments.note_attachment %>" download><i class="fa fa-download" aria-hidden="true"></i></a>
                                        <% }else{ %>
                                        No Attachment
                                        <% } %>
                                    </li>
                                </ul>
                            </div> <br>
                            <% 
                            }
                            }) %>
                        </div>
                    </div>
                    <div id="menu5" class="tab-pane ">
                        <div class="col-md-12 white_bg">
                            <h3>Internal Notes</h3>
                            <% _.each(admin_comments, function (comments) {
                            if(comments.note_type==1){
                            %>
                            <div class="row">
                                <ul class="col-md-6" style="list-style:disc;padding-left: 27px;">
                                    <li style="list-style: disc !important;">
                                        <% var comment=''; %>
                                        <% if(comments.note !='undefined'){ %>
                                        <% comment=comments.note %>

                                        <%= comment %>
                                        <% }else{ %>
                                        <%= comment %>
                                        <% } %>
                                    </li>
                                </ul>
                                <ul class="col-md-6">
                                    <li>
                                        <% var img=''; %>
                                        <% if(comments.note_attachment !='undefined'){ %>
                                        <a href="<% sails.getBaseurl() %>/index_files/uploads/<%= student_info.student_id %>/<%= comments.note_attachment %>" download><i class="fa fa-download" aria-hidden="true"></i></a>
                                        <% }else{ %>
                                        No Attachment
                                        <% } %>
                                    </li>
                                </ul>
                            </div> <br>
                            <% 
                            }
                            }) %>
                        </div>
                    </div>
                    <div id="menu6" class="tab-pane ">
                        <div class="col-md-12 white_bg">
                            <table class="table table-hover">
                                <tr>
                                    <th>Donors Name</th>
                                    <th>Donors Email</th>
                                    <th>Donors Amount</th>
                                </tr>
                                <% _.each(doner_result, function (doner_result) { %>
                                <tr>
                                    <td><p><%= doner_result.donors_name %></p></td>
                                    <td><p><%= doner_result.donor_email %></p></td>
                                    <td><p>$ <%= doner_result.funded_amount %></p></td>
                                </tr>
                                <% }) %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>  


</section>

<div class="modal fade" id="internalNotes" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #00A290;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Notes</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="addNoteForm" action="/add_notes/<%= student_info.student_id %>/<%= student_info.loan_id %>" method="POST" enctype="multipart/form-data" role="form" name="NotesForm" novalidate>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Note Type</label>
                        <div class="col-sm-5">
                            <label>
                                <input type="radio" ng-model="admin.note_type"  id="note_type"  autocomplete="off" name="note_type" value="1" required/>&nbsp;&nbsp;
                                Internal
                            </label>

                            <span ng-show="submitted && NotesForm.note_type.$error.required"  class="help-block has-error ng-hide">Note type is required.</span>
                        </div>
                        <div class="col-sm-5">
                            <label>
                                <!--<input type="radio" ng-model="admin.note_type" class="form-control" id="note_type"  autocomplete="off" name="note_type[]" value="1" required/>-->
                                <input type="radio" ng-model="admin.note_type"  id="note_type"  autocomplete="off" name="note_type" value="2" required/>&nbsp;&nbsp;
                                External
                            </label>

                            <!--<span ng-show="submitted && NotesForm.note_type.$error.required"  class="help-block has-error ng-hide">Note type is required.</span>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Note</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" ng-model="admin.note" name="note" cols="60" rows="5" required></textarea>
                            <span ng-show="submitted && NotesForm.note.$error.required"  class="help-block has-error ng-hide">Note is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Upload Attachment</label>
                        <div class="col-sm-10">
                            <!--<input type="file" file-model="myFile" id="attachment"  name="attachment"/>-->
                            <!--<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>-->
                            <input type="file" name="file" />
                            <!--<span ng-show="submitted && NotesForm.attachment.$error.required"  class="help-block has-error ng-hide">Attachment is required.</span>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="hidden"  name="loan_id" id="loan_id"  value="<%= student_info.loan_id %>"/>
                            <input type="hidden"   name="student_id"  value="<%=student_info.student_id %>"/>
                            <button type="submit" ng-click="submitted = true" id="submit-notes" class="btn btn-default">Submit</button>
                            <p class="loading" style="display:none;">Loading....</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<%- include ../admin/stufoot.ejs %>
<script src="../../index_files/lightbox.js"></script>

<!--<script type="text/javascript">
                                $(function () {
                                    $("#bluecircle").percircle();
                                });
                                $(document).ready(function () {
                                    $(".progress-bar").loading();

                                });

</script>-->
<script>
                                function htmlEncode(value) {
                                    return $('<div/>').text(value).html();
                                }

                                function htmlDecode(value) {
                                    return $('<div/>').html(value).text();
                                }
                                var about_me = htmlDecode("<%= student_info.student_about_me.replace(/\n/gi,'<br/>')%>");
                                var ambition = htmlDecode("<%= student_info.student_ambition.replace(/\n/gi,'<br/>')%>");


                                $(document).ready(function () {
//      alert("hi");

                                    $('#about_me').html(about_me);
                                    $('#ambition').html(ambition);
                                });
</script>
<script>
    var completePer = parseInt($("#loan_percent").val());
    var remainingPer = parseInt(100 - completePer);

    var doughnutData = [
        {
            value: parseInt(completePer),
            color: "#68dff0"
        },
        {
            value: parseInt(remainingPer),
            color: "#fdfdfd"
        }
    ];
    var myDoughnut = new Chart(document.getElementById("serverstatus14").getContext("2d")).Doughnut(doughnutData);
</script>
<script>
    var myApp = angular.module('postApp', []);
    myApp.controller('postController', function ($scope, $http) {
        $scope.admin = {};

        $('#addNoteForm').submit(function () {
            if ($scope.NotesForm.$valid) {
                return true;
            } else {
                return false;
            }
        });

    });
</script>

<!-- <script>
  var doughnutData = [
  {
    value: 70,
    color:"#68dff0"
  },
  {
    value : 30,
    color : "#fdfdfd"
  }
  ];
  var myDoughnut = new Chart(document.getElementById("serverstatus14").getContext("2d")).Doughnut(doughnutData);
</script> -->
<script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true
    })
</script>