<%- include ../admin/admin_head.ejs %>
<%- include ../admin/sidebar.ejs %>

<style>
    .pink{
        background-color: #f51d1d1a;
    }
    .blue{
        background-color: #5ac8574d;
    }
</style>

<section id="main-content">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-6 pink">
                <h3 class="text-center">Previous Record</h3>
                <%  _.each(student_records, function (records) { %>
                <div class="row">
                    <div class="col-md-6"><h4><%= records.student_master_field_name %> : </h4></div>
                    <div class="col-md-6"><h4><%= records.student_prev_value %></h4></div>
                </div>
                <%
                }) 
                %>
            </div> 
            <div class="col-md-6 blue">
                <h3 class="text-center">Changed Record</h3>
                <%  _.each(student_records, function (records) { %>
                <div class="row">
                    <div class="col-md-6"><h4><%= records.student_master_field_name %> : </h4></div>
                    <div class="col-md-6"><h4><%= records.student_changed_value %></h4></div>
                </div>
                <%
                }) 
                %>
            </div> 
        </div> 
        <br>
        <form>
            <div class="row">  
                <div class=" col-md-5 ">
                    <label>Add Comment :</label>
                    <textarea name="admin_note" id="admin_note" class="form-control" cols="60" rows="2"></textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <%  _.each(student_records, function (records) { %>
                    <input type="hidden" name="student_id" id="student_id" value="<%= records.student_id %>">
                    <%
                    }) 
                    %>
                    <a href="javascript:void(0);" data-value="1" class="btn btn-danger update_student_status">Disapprove</a>
                    <a href="javascript:void(0);" data-value="0" class="btn btn-success update_student_status">Approve</a>
                </div>

            </div>
        </form>
    </div>
</section>
<%- include ../admin/stufoot.ejs %>
<link href="../../index_files/stdash/css/sweetalert.css" rel="stylesheet">
<script src="../../index_files/stdash/js/sweetalert.min.js"></script>
<script src="../../index_files/stdash/js/sweetalert-dev.js"></script>
<script>

    $('.update_student_status').click(function () {
        var status = $(this).attr('data-value') == '1' ? 'Disapprove' : 'Approve';
        var color = $(this).attr('data-value') == '1' ? '#DD6B55' : '#4cae4c';
        var profile_status = $(this).attr('data-value');
        var student_id = $('#student_id').val();
        var admin_note = $('#admin_note').val();
        swal({title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: color,
            confirmButtonText: "Yes, " + status + " it!",
            closeOnConfirm: false
        },
        function () {
            $.ajax({
                url: "/admin/update_student_profile",
                type: "POST",
                async: true,
//                dataType: 'json',
                data: {student_id: student_id, profile_status: profile_status, admin_note: admin_note},
                success: function (response) {
                   window.location = response.path;
                }
            });

        });
    });
</script>


