<%- include ../admin/admin_head.ejs %>
<%- include ../admin/sidebar.ejs %>

<style>
    .pink{
        background-color: #f51d1d1a;
    }
    .blue{
        background-color: #5ac8574d;
    }
</style>

<section id="main-content">
    <div class="wrapper">
        <div class="row">
            <%- req.flash('error') %>
            <%- req.flash('success') %>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th><strong>Field Name</strong></td>
                        <th style="color:red;"><strong>Previous Record</strong></th>
                        <th style="color:green;"><strong>Changed Record</strong></th>
                        <th><strong>Record Updated Date</strong></th>
                    </tr>
                    <!--<br>-->
                </thead>
                <tbody>

                    <%  _.each(student_records, function (records) { %>

                    <tr>
                        <td><input class="student_record" type="checkbox" name="student_record[]" value="<%= records.student_master_field_id %>"></td>
                        <td><%= records.student_master_field_name.replace('_', ' ') %></td>
                        <td class="" style="width:360px;color:red;">
                            <% if (records.student_prev_value != "" || records.student_prev_value !=  undefined || records.student_prev_value != null){ %>
                             <% console.log('records.student_prev_value')  %>
                            <% console.log(records.student_prev_value) %>
                             <% console.log('records.student_prev_value')  %>
                            <% if( records.student_master_field_name == 'student_profile_pic_path' || records.student_master_field_name == 'photo_path'){ %>
                            <img src="../../index_files/uploads/documents/<%= records.student_prev_value %>" class="image_pro" style="height:93px;width:145px;">
                            <% }else if(records.student_master_field_name == 'video_link'){ %>
                           
                           
                            
                            <iframe width="315" height="177" src="<%= records.student_prev_value %>" frameborder="0" allowfullscreen> 
                            </iframe>
                            <% }else if(records.student_master_field_name == 'loan_fafsa_id'){ %>
                            <% 
                           
                            mst_fafsa.forEach(function (values, index) {
                            if( values.id == records.student_prev_value){ 
                            %>
                            <%= values.fafsa_values %>
                            <%
                            } %>
                            <%  
                            });
                            %>

                            <% }else{ %>
                            <%= records.student_prev_value %> 
                            <% } %>
                            <% }else{ %>
                             <% console.log('else') %>
                         
                            <p>No previous record</p>
                            <% } %>
                        </td>
                        <td class="" style="width:360px;color:green;">
                            <% if (records.student_changed_value == '' || records.student_changed_value ==  undefined || records.student_changed_value != null){ %>
                            <% if( records.student_master_field_name == 'student_profile_pic_path' || records.student_master_field_name == 'photo_path'){ %>
                            <img src="../../index_files/uploads/documents/<%= records.student_changed_value %>" class="image_pro" style="height:147px;width:230px;">
                            <% }else if(records.student_master_field_name == 'video_link'){ %>
                            <iframe width="315" height="177" src="<%= records.student_changed_value %>" frameborder="0" allowfullscreen> 
                            </iframe>
                            <% }else if(records.student_master_field_name == 'loan_fafsa_id'){ %>
                                        <% 
                            mst_fafsa.forEach(function (values, index) {
                            if( values.id == records.student_changed_value){ 
                            %>
                            <%= values.fafsa_values %>
                            <%
                            } %>
                            <%  
                            });
                            %>

                            <% }else{ %>
                            <%= records.student_changed_value %>
                            <% } %>
                            <% }else{ %>
                            <p>No record changed</p>
                            <% } %>
                        </td>
                        <td> <%= records.student_changed_time %> </td>
                    </tr>
                    <%
                    }) 
                    %>
                </tbody>
            </table>
        </div> 
        <br>
        <form>
            <div id="admin-message" class="row">  
                <div class=" col-md-5 ">
                    <label>Add Comment :</label>
                    <textarea name="admin_note" id="admin_note" class="form-control" cols="60" rows="2"></textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <%  _.each(student_records, function (records) { %>
                    <input type="hidden" name="student_id" id="student_id" value="<%= records.student_id %>">
                    <%
                    }) 
                    %>
                    <a href="javascript:void(0);" data-value="1" class="btn btn-danger update_student_status">Disapprove</a>
                    <a href="javascript:void(0);" data-value="0" class="btn btn-success update_student_status">Approve</a>
                </div>

            </div>
        </form>
    </div>
</section>
<%- include ../admin/stufoot.ejs %>
<link href="../../index_files/stdash/css/sweetalert.css" rel="stylesheet">
<script src="../../index_files/stdash/js/sweetalert.min.js"></script>
<script src="../../index_files/stdash/js/sweetalert-dev.js"></script>
<script>

    $('.update_student_status').click(function () {
        $('#admin_note_message').remove();
        $('#admin_record_message').remove();
        var allvalues = [];
        $('input[name="student_record[]"]:checked').each(function () {
            allvalues.push(this.value);
        });
        if (($(this).attr('data-value') == '0') || ($(this).attr('data-value') == '1' && $('#admin_note').val() != '')) {
            if (($(this).attr('data-value') == '1') || ($(this).attr('data-value') == '0' && allvalues.length > 0)) {
                var status = $(this).attr('data-value') == '1' ? 'Disapprove' : 'Approve';
                var color = $(this).attr('data-value') == '1' ? '#DD6B55' : '#4cae4c';
                var profile_status = $(this).attr('data-value');
                var student_id = $('#student_id').val();
                var admin_note = $('#admin_note').val();
                swal({title: "Are you sure?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: color,
                    confirmButtonText: "Yes, " + status + " it!",
                    closeOnConfirm: false
                },
                function () {
                    $.ajax({
                        url: "/admin/update_student_profile",
                        type: "POST",
                        async: true,
//                dataType: 'json',
                        data: {student_id: student_id, profile_status: profile_status, admin_note: admin_note, approved_values: allvalues},
                        success: function (response) {
                            window.location = response.path;
                        }
                    });

                });
            } else {
                $('#admin-message').before('<span id="admin_record_message" class="has-error">Please select at least one record</span>');
            }
        } else {
            $('#admin_note').after('<span id="admin_note_message" class="has-error">Admin note is required</span>');
        }
    });

    $('#admin_note').keyup(function () {
        $('#admin_note_message').remove();
    });
    $('input[name="student_record[]"]').change(function () {
        $('#admin_record_message').remove();
    });
</script>


