<%- include ../admin/admin_head.ejs %>
<%- include ../admin/sidebar.ejs %>
<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <%- req.flash('error') %>
            <%- req.flash('success') %>
            <div class="col-lg-9 main-chart">

                <h1 class="phead"> Stripe Payment Gateway</h1>
                <br>
                <div class="panel panel-default">
                    <div class="panel-body">

                        <!--<form action="/updateaboutus" class="form-group" method="POST" role="form">-->
                        <form class="form" ng-submit="submitForm()" id="stripeForm" name="stripeForm" action="/admin/submitwebhooks" method="POST" novalidate>
                            <div class="form-group row">
                                <label class="col-xs-5 control-label">Stripe Currency</label>
                                <div class="col-xs-7">
                                    <select name="stripe_currency" ng-model="admin.stripe_currency" id="stripe_currency" class="dropdown form-group" required>
                                        <option value="">Select Stripe Currency</option>
                                        <option value="usd">USD</option>
                                    </select>
                                    <span ng-show="submitted && stripeForm.stripe_currency.$error.required"  class="help-block has-error ng-hide">Stripe currency is required.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-5 control-label">Stripe Publishable Key (Live)</label>
                                <div class="col-xs-7">
                                    <input type="text" ng-model="admin.live_publishable_key" name="live_publishable_key" id="live_publishable_key" value="" class="form-control" required>
                                    <span ng-show="submitted && stripeForm.live_publishable_key.$error.required"  class="help-block has-error ng-hide">Live Publishable key is required.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-5 control-label">Stripe Secret Key (Live)</label>
                                <div class="col-xs-7">
                                    <input type="text" ng-model="admin.live_secret_key" name="live_secret_key" id="live_secret_key" class="form-control"  required>
                                    <span ng-show="submitted && stripeForm.live_secret_key.$error.required"  class="help-block has-error ng-hide description">Live Secret key is required.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-5 control-label">Stripe Publishable Key (Test)</label>
                                <div class="col-xs-7">
                                    <input type="text" ng-model="admin.test_publishable_key" name="test_publishable_key" id="test_publishable_key" value="" class="form-control" required>
                                    <span ng-show="submitted && stripeForm.test_publishable_key.$error.required"  class="help-block has-error ng-hide">Test Publishable key is required.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-5 control-label">Stripe Secret Key (Test)</label>
                                <div class="col-xs-7">
                                    <input type="text" ng-model="admin.test_secret_key" name="test_secret_key" id="test_secret_key" class="form-control"  required>
                                    <span ng-show="submitted && stripeForm.test_secret_key.$error.required"  class="help-block has-error ng-hide description">Test Secret key is required.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-5 control-label">Test Mode</label>
                                <div class="col-xs-offset-5">
                                    <% var test_mode_on= record[0].test_mode==1 ? 'checked':'' %>
                                    <% var test_mode_off= record[0].test_mode==0 ? 'checked':'' %>
                                    <label class="control-label"><input type="radio" value="1" name="test_mode[]" <%= test_mode_on %>> On</label> &nbsp;&nbsp;

                                    <label class="control-label"><input type="radio" value="0" name="test_mode[]" <%= test_mode_off %>> Off</label>

                                </div>
                            </div>

                            <div class="form-group row">

                                <input type="submit" ng-click="submitted = true" class="btn btn-primary col-xs-offset-5 update_about_us" value="Update">
                            </div>
                        </form>

                    </div>
                </div>

            </div>

            <%- include ../admin/notifications.ejs %>
        </div>
    </section>
</section>

<%- include ../admin/stufoot.ejs %>
<script>
    $('#stripe-payment-gateway').addClass('active');
</script>

<script>

    var postApp = angular.module('postApp', []);
    postApp.controller('postController', function ($scope, $http) {

        $scope.admin = {};
        $scope.admin.stripe_currency = '<%= record[0].stripe_currency %>';
        $scope.admin.live_publishable_key = '<%= record[0].live_publishable_key %>';
        $scope.admin.live_secret_key = '<%= record[0].live_secret_key %>';
        $scope.admin.test_publishable_key = '<%= record[0].test_publishable_key %>';
        $scope.admin.test_secret_key = '<%= record[0].test_secret_key %>';

        $("#stripeForm").submit(function () {
            if ($scope.stripeForm.$valid) {
                return true;
            } else {
                return false;
            }
        });
    });

</script>


