<%- include ../stuhead.ejs %>

<%- include ../stud_left.ejs %>

<style>
    div.tooltip-inner {
        max-width: 350px;
    }
</style>

<style type="text/css">

    input[type=file]:before {
        content: '\f0c6    Browse';
        font-family: 'FontAwesome';
        width: 99px;
        height: 32px;
        background: #00a290;
        display: block;
        color: #fff;
        font-size: 15px;
        position: absolute;
        cursor: pointer;
        margin-top: -5px;
        border-radius: 4px;
        padding: 3px 10px;
        border: 1px solid #008677;
    }
    .pointer{
        cursor: pointer;
        color: red;
    }
</style>
<link href="../../index_files/jqfiler/css/jquery.filer.css" type="text/css" rel="stylesheet" />
<link href="../../index_files/jqfiler/css/themes/jquery.filer-dragdropbox-theme.css" type="text/css" rel="stylesheet" />
<link href="../../index_files/lightbox.css" rel="stylesheet">
<section id="main-content">
    <section class="wrapper" ng-app="postApp" ng-controller="postController">
        <br>
        <div class="row">
            <div class="col-sm-9">

                <!--form action="/education_edit_submit" method="POST" role="form"-->


                <h2>Media Section</h2><br>
                <h3>Your Video</h3><br>

                <form id="userVideo" enctype="multipart/form-data" action="/upload_media/<%= student_info[0].student_id %>" method="POST" name="userVideo" novalidate>
                    <div class="form-group row">

                        <div class="col-xs-10">
                            <label for="student_firstname">Enter your video link: <a href="#" data-toggle="tooltip" title="Make a statement about your life and ambitions here.  Many funders skip the text and play the video instead. This will be a link to a video hosted on YouTube or Vimeo."> <i  class="glyphicon glyphicon-question-sign"></i></a></label><br>
                            <input type="text" data-validation="custom" data-validation-regexp="^(?:https?:\/\/)?(?:www\.)?youtube\.com\/watch\?(?=.*v=((\w|-){11}))(?:\S+)?$" data-validation-error-msg="Enter a youtube embedded link" value="<%= student_info[0].video_link %>" name="video_link" class="form-control">

                            <div class="row">

                            </div>
                        </div>
                        <div class="col-md-12">
                            <h3>Your images:<span class="small"><a href="#" data-toggle="tooltip" title="Show that you’re for real.  You can include pictures of your dorm room (clean ones), with friends, teachers, employers, and anything related."> <i  class="glyphicon glyphicon-question-sign"></i></a></span></h3> <br>

                          <div class="row">
            <div class="col-md-12">
             <input type="file" name="image1[]" id="filer_input2" multiple="multiple"><br>
           </div>
          </div>
                            <div class="row">
                                <% _.each(photos, function (photos) { %>
                                <div class="modal fade col-md-5 center" style="margin:auto" id="myModal" role="dialog">
                                    <div class="modal-dialog">

                                    </div><br>
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Delete photo</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Do you really want to remove this photo? You cannot undo this action.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/remove_image/<%= photos.student_id %>/<%= photos.photo_id %>"><button type="button" class="btn btn-default">Yes</button></a>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" >
                                    <div style="text-align:center">
                                        <a href="../index_files/uploads/documents/<%= photos.photo_path %>" data-lightbox="example-set">
                                            <img class="img-responsive" src="../index_files/uploads/documents/<%= photos.photo_path %>" style="height:182px; width:273px"></a><br>
                                        <a class="pointer delete-img" ><i class="fa fa-times" aria-hidden="true"></i> Delete</a>
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-md-4">
                                    <input type="submit" value="Submit" class="upload btn btn-default">

                                    <a href="/viewprofile/<%= student_info[0].student_id %>"><button class="btn btn-default text-center">Cancel</button></a>
                                </div>
                            </div>
                                      
                        </div>
                </form>

                <br></div>



        </div>.
        <div class="col-md-3">
            <%- include ../stud_right.ejs %>
        </div>

    </section>
</section> 

<%- include ../stufoot.ejs %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script src="../../index_files/lightbox.js"></script>
<script src="../../index_files/jqfiler/js/jquery.filer.min.js"></script>
<script src="../../index_files/jqfiler/js/custom.js" type="text/javascript"></script>
<script>
      lightbox.option({
          'resizeDuration': 200,
          'wrapAround': true
      })
</script>
<script>

    $('#studentprofile').addClass('active');
</script>


<!-- <script>
    var postApp = angular.module('postApp', []);
    postApp.controller('postController', function ($scope, $http) {
     $scope.student={};


  $scope.student.student_education_institute='<%= student_info[0].student_education_institute %>';
  $scope.student.student_education_fieldofstudy='<%= student_info[0].student_education_fieldofstudy %>';


    
        $scope.submitForm = function () {
            if ($scope.educationform.$valid) {
                $http({
                    method: 'POST',
//                    dataType: 'json',
                    url: '/education_edit_submit/<%= student_info[0].id %>',
                    data: $scope.student, //forms user object
                    headers: {'Content-Type': 'application/json'}
                }).success(function (data) {
                    console.log(data);
                    window.location = '/viewprofile/<%= student_info[0].student_id %>';
                });

            }


        };
    });

  </script> -->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

