<%- include ../stuhead.ejs %>

<%- include ../stud_left.ejs %>


<section id="main-content">
    <section class="wrapper">

        <div class="row">

            <div class="col-lg-9 main-chart">

                <div class="row mtbox">
                    <div class="col-md-3 col-sm-3 box0">
                        <div class="box1">
                            <span><i class="fa fa-bullseye" aria-hidden="true"></i></span>
                            <h4 style="font-size:16px">GOAL</h4>

                            <h3> $ <%= student_info[0].loan_amount %></h3>
                        </div>
                        <p>Your goal set is $ <%= student_info[0].loan_amount %></p>
                    </div>
                    <div class="col-md-3 col-sm-3 box0">
                        <div class="box1">
                            <span><i class="fa fa-money" aria-hidden="true"></i></span>
                            <h4 style="font-size:16px">AMOUNT RAISED</h4>
                            <h3>$ <%= student_info[0].total_funded %></h3>
                        </div>
                        <p>You have collected $ <%= student_info[0].total_funded %> till now</p>
                    </div>
                    <div class="col-md-3 col-sm-3 box0">
                        <div class="box1">
                            <span><i class="fa fa-group" aria-hidden="true"></i></span>
                            <h4 style="font-size:16px">TOTAL DONORS</h4>

                            <h3><%= donor_l.length %></h3>
                        </div>
                        <p><%= donor_l.length %> donors in total</p>
                    </div>
                    <%
                    var percentage = (student_info[0].total_funded/student_info[0].loan_amount)*100

                    %>
                    <div class="col-md-3 col-sm-3 box0">
                        <div class="box1">
                            <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                            <h4 style="font-size:16px">PERCENT COMPLETE</h4>
                            <h3><%= (percentage > 0) ? percentage.toFixed(2): 0 %> %</h3>
                        </div>
                       
                        <p><%= (percentage > 0) ? percentage.toFixed(2) : 0 %> % goal completed</p> 
                        
                    </div>


                </div><!-- /row mt -->  

                <style type="text/css">
                    .white_bg{
                        background-color:#fff;
                    }
                </style>


                <div class="col-md-8">
                    <div class="white_bg">
                        <table class="table table-hover">

                            <thead style="background-color: #443f3f;; color:#fff">
                                <tr>
                                    <th>Donor Name</th>
                                    <th>Email</th>
                                    <th>Date</th>
                                    <th class="text-center">Donated amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(donor_l.length > 0){ %>
                                <% _.each(donor_l, function (donor_l) { %>
                                <tr>
                                    <td><%= donor_l.donors_name %></td>
                                    <td><%= donor_l.donor_email %></td>
                                    <td><%= donor_l.funding_date %></td>
                                    <td class="text-center">$ <%= donor_l.funded_amount %></td>
                                </tr>
                                <% }) %>
                                <% }else{ %>
                                <tr>
                                    <td>No record Found</td>
                                </tr>
                                <% } %>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class=" white_bg">
                        <h3 style="background-color: #443f3f;; color:#fff">External Notes</h3>
                        <% _.each(external_notes, function (comments) {
                        
                        %>
                        <div class="row">
                                <ul class="col-md-6" style="list-style:disc;padding-left: 35px;">
                                    <li style="list-style: disc !important;">
                                        <% var comment=''; %>
                                        <% if(comments.note !='undefined'){ %>
                                        <% comment=comments.note %>

                                        <%= comment %>
                                        <% }else{ %>
                                        <%= comment %>
                                        <% } %>
                                    </li>
                                </ul>
                                <ul class="col-md-6">
                                    <li>
                                        <% var img=''; %>
                                        <% if(comments.note_attachment !='undefined'){ %>
                                        
                                        <a href="<% sails.getBaseurl() %>/index_files/uploads/<%= student_info[0].student_id %>/<%= comments.note_attachment %>" download><i class="fa fa-download" aria-hidden="true"></i></a>
                                        <% }else{ %>
                                        No Attachment
                                        <% } %>
                                    </li>
                                </ul>
                            </div>
                        <br>
                        <% 
                       
                        }) %>
                    </div>
                </div>

            </div>

            <!-- /col-lg-3 -->

            <div class="col-md-3">
                <%- include ../stud_right.ejs %>
            </div>
        </div>
    </section>
</section>


<%- include ../stufoot.ejs %>
<script>
    $('#dashboard').addClass('active');

</script>