<%- include ../frontend/header.ejs %>
<div class="main-content" style="padding-top:80px;padding-bottom:20px;">
    <div class="container">
        <div class="row">
            <br>
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="text-right hidden-border"><strong>Funding Amount</strong></td>

                            <td class="text-right hidden-border">$<%= funding_amount %>.00</td>
                        </tr>
                        <tr>
                            <td class="text-right hidden-border"><strong>Tax</strong></td>

                            <td class="text-right hidden-border">$00.00</td>
                        </tr>
                        <tr>
                            <% var total = funding_amount %>
                            <td class="text-right"><strong class="text-lg text-accent">Total</strong></td>

                            <td class="text-right"><strong class="text-lg text-accent">$<%= total %>.00</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<br>-->
            <div class="col-md-6">
                <!--<h2>Subscription</h2>-->
                <% var data_amount= funding_amount * 100 %>
                <form action="/subscribe" method="POST">
                    <script
                        src="https://checkout.stripe.com/checkout.js" 
                        class="stripe-button"
                        data-key="<%= stripePubKey %>"
                        data-amount="<%= data_amount %>"
                        data-name="Subscribe"
                        data-description="($<%= funding_amount %>.00)"
                        data-image="../../index_files/favicon.png">
                    </script>
                    <input type="hidden" name="amount" value="<%= data_amount %>">
                    <input type="hidden" name="email" value="<%= email_id %>">
                    <input type="hidden" name="loan_id" value="<%= loan_id %>">
                    <input type="hidden" name="donor_name" value="<%= donor_name %>">
                    <input type="hidden" name="comment" value="<%= comment %>">

                </form>
            </div>
        </div>
    </div>

</div>
<%- include ../frontend/footer.ejs %>
