<%- include ../frontend/header.ejs %>

<style>
    .outerbox {
        background-color: #fff;
        min-height: 200px;
        box-shadow: 0 3px 7px rgba(0,0,0,0.1);
        padding: 20px;
        border-radius: 4px;
        margin: 40px 0px;
    }
    .panel-body {
        padding: 0px;
    }
    #donationamt {
        background: #fff none repeat scroll 0 0 !important;
        border: medium none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #donationamt, #donationamt #amtinput .input-group-addon, 
    #donationamt #amtinput .input-group-addon, 
    #donationamt #amtinput .input-group-addon,
    #donationamt #amtinput input
    {
        border-radius: 0px;
        border: none;
        background-color: #e6fffc;
        color: #00a290;
        font-size: 90px;
    }
    #donationamt #amtinput input {
        text-align: left;
        height: 120px;
    }
    #donationamt #amtinput input:focus {
        box-shadow: none;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .left-box .panel-body {
        padding: 20px;
    }
    .left-box .panel-body h2 {
        font-size: 36px;
        margin: 10px 0px;
    }
    .left-box .panel-body h2 span {
        font-size: 26px;
        color: #777;
    }
    .panel-heading {
        background-color: #00a290 !important;
        color: #fff !important;
        border-color: #00a290 !important;
    }
    .panel.panel-default {
        border-color: #00a290 !important;
    }
    .left-box.about p {
        font-size: 14px;
    }
    .left-box.about hr {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .left-box.about .panel-heading {
        color: #fff !important;
    }
    .left-box.about .panel-heading p {
        font-size: 12px;
    }
    .left-box.about .panel-heading h3 {
        color: #fff !important;
        margin-bottom: 10px;
        font-weight: 700;
    }

    #donerinfoform, #donerinfoform input {
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fff;
        color: #00a290;
        font-size: 90px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #donerinfoform {
        border: none;
        box-shadow: none;
    }
    #donerinfoform label {
        position: initial;
        padding-top: 20px;
    }
    #donerinfoform .form-group {
        display: block;
    }
    .checklbl {
        display: inline-block !importants;
    }    
    #donerinfoform input {
        font-size: 16px;
        font-weight: 400;
        color: #333;
        padding: 10px;
    }
    .form-group {
        height: 58px;
    }
    label {
        position: initial !important;
        display: block;
    }
    .formbottom {
        padding: 15px;
    }
    .checkbox input[type="checkbox"] {
        width: 20px !important;
    }
    .inputgp {
        /*        height: 100px !important;*/
    }
    #donerinfofields {
        padding: 15px;

    }

    .note_donate{
        padding-left: 20px;
        padding-right: 20px;
        font-size:18px;
    }
    #donerinfofields .halfwf {
        width: 48%;
        display: inline-block;
        margin-bottom: 60px;
    }
    .halfwferr.help-block {
        position: absolute;
        top: 80px;
    }
    label, .hide_name{
        color:#504949 !important;
    }
    @media only screen and (max-width: 991px) {
        .amt_font{
            font-size:50px !important;
        }
        @media only screen and (max-width: 767px) {


            #donerinfofields .halfwf {
                width: 100%;

            }

        }
    </style> 

    <div  class="main-content" style="padding-top:80px;padding-bottom:15px;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 outerbox">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="panel panel-default left-box">
                                <div class="panel-heading"><%= student_details.student_firstname +' ' + student_details.student_lastname %></div>
                                <div class="panel-body">

                                    <% if(student_details.student_profile_pic_path == null || student_details.student_profile_pic_path== undefined || student_details.student_profile_pic_path== ''){ %>
                                    <img src='../index_files/blank_dp.jpg' class="img-responsive" style="width: 100%;">
                                    <% }else{ %>
                                    <img src='../../index_files/uploads/<%= student_details.student_id %>/<%= student_details.student_profile_pic_path %>' class="img-responsive" style="width: 100%;">
                                    <% } %>

                                    <h2>$ <%= (funded_amount > 0) ? funded_amount.toFixed(2) : 0  %> <span>of $ <%= student_details.loan_amount %></span></h2>
                                    <%
                                    var percentage = (funded_amount/student_details.loan_amount)*100
                                    %>
                                    <div class="progress-item mt-0">
                                        <div class="progress mb-10">
                                            <div data-percent="<%= percentage > 0 ? percentage.toFixed(2) : 0 %>" class="progress-bar appeared" style="width: <%= percentage > 0 ? percentage.toFixed(2) : 0 %>;"><span class="percent">0</span>
                                                <span class="percent"><%= percentage > 0 ? percentage.toFixed(2) : 0 %>%</span></div>
                                        </div>
                                    </div>
                                    <p>Raised by <%= donor_count %> people </p>
                                </div>
                            </div>

                            <div class="panel panel-default left-box about">
                                <div class="panel-heading">

                                    About

                                </div>
                                <div class="panel-body">
                                    <p><strong><%= student_details.student_about_me %></strong></p>


                                </div>

                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">Enter your donation amount</div>
                                <div class="panel-body">
                                    <form role="form" id="donationamt" ng-submit="submitForm()" method="POST" action="/paymentpage" name="donorsForm" novalidate>
                                        <div class="form-group input-group"  id="amtinput">
                                            <span class="input-group-addon amt_font">$</span>
                                            <input class="form-control amt_font" name="funding_amount" id="funding_amount" ng-model="donor.funding_amount" value="" maxlength="4" ng-pattern="/^[0-9]{1,3}(,[0-9]{3})*(\.[0-9]{2})?$/" ng-maxlength="4" ng-min="5" type="text" is-number autocomplete="off" required>

                                        </div>

                                        <p style="font-size:13px;color: red" ng-show="submitted && donorsForm.funding_amount.$error.required"  class="help-block has-error ng-hide">Funding amount is required.</p>
                                        <p style="font-size:13px;color: red" ng-show="submitted && donorsForm.funding_amount.$error.pattern"  class="help-block has-error ng-hide">Please enter only numbers.</p>
                                        <p style="font-size:13px;color: red"   class="help-block has-error ng-hide funding_amount">A minimum funding amount of $5 is required.</p>

                                        <p class="note_donate">NOTE:- <span style="color:#333">A 5% Stumuch service fee will subtracted from your donation. A 2.9% credit card transaction fee  and $0.30 card processing fee will be subtracted as well. For queries about charges, refer to the <a href="/faq" target="_blank" class="faq_link">FAQ</a></span></p>

                                        <div  id="donerinfofields" class="row">
                                            <div class="col-md-12">

                                                <div class="form-group input-group halfwf">
                                                    <label>Email address:</label>
                                                    <input type="email" class="form-control" ng-model="donor.email_id" name="email_id" id="email" required>

                                                    <p style="font-size:13px;color: red" ng-show="submitted && donorsForm.email_id.$error.required"  class="halfwferr help-block has-error ng-hide">Email address is required.</p>
                                                    <p style="font-size:13px;color: red" class="halfwferr help-block has-error  ng-hide" ng-show="submitted && donorsForm.email_id.$error.email">Invalid email address</p>
                                                </div>

                                                <div class="form-group input-group halfwf">
                                                    <label for="email">Your Name:</label>
                                                    <input type="text" name="donor_name" ng-model="donor.donor_name" class="form-control" required>
                                                    <p style="font-size:13px;color: red" ng-show="submitted && donorsForm.donor_name.$error.required"  class="halfwferr help-block has-error ng-hide">Donor name is required.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="clearfix"></span>
                                                <div class="inputgp">
                                                    <p style="font-size:17px;color:#999;padding-bottom:18px" class="hide_name"> <input type="checkbox" style="" name="hide_name" ng-model="donor.hide_name" value="1">
                                                        Hide my name and comment from the public. It will only be visible to the Stumuch administration and funding receiver</p>
                                                </div>
                                                <!--  <div class="inputgp">
                                                                                             <input type="checkbox" name="hide_name" ng-model="donor.hide_name" value="1" style="left: -3px; bottom: 12px; width: 20px; display: inline-block;-webkit-appearance: normal; appearance: normal;">
                                                                                             <label class="checklbl"> Hide name and comment from everyone but the organizer.</label>
                                                                                         </div>-->

                                                <div class="">
                                                    <label for="comment">Comment:</label>
                                                    <textarea class="form-control" name="comment" ng-model="comment" rows="5" id="comment"></textarea>
                                                </div>
                                                <div class="inputgp">
                                                    <input type="hidden" name="loan_id" value="<%= loan_id %>">
                                                    <input type="hidden" name="student_id" value="<%= student_details.student_id %>">
                                                    <input type="hidden" name="student_firstname" value="<%= student_details.student_firstname %>">
                                                    <input type="hidden" name="student_lastname" value="<%= student_details.student_lastname %>">
                                                    <button type="submit" ng-click="submitted = true" class="btn btn-success">Submit</button>
                                                </div>
                                            </div>


                                            <div class="formbottom">
                                                <hr>
                                                <p><input type="checkbox" style="" name="terms_conditions" ng-model="donor.terms_conditions" value="1" required> I agree to the <a target="_blank" href="/termsandconditions">Terms & Conditions</a> and <a target="_blank" href="/privacypolicy">Privacy Policy</a>.</p>
                                                <p style="font-size:13px;color: red" ng-show="submitted && donorsForm.terms_conditions.$error.required"  class="help-block has-error ng-hide">Required.</p>
                                                <!--<br><a href="#" >Go back</a>-->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<%- include ../frontend/footer.ejs %>
<link href="../../index_files/stdash/css/style.css" rel="stylesheet">
<link href="../../index_files/style-main.css" rel="stylesheet">
<script src="../../index_files/jquery-ui.js"></script>
<script src="../../index_files/bootstrap.js"></script>

<script>
                                                    var postApp = angular.module('postApp', []);
                                                    postApp.directive('isNumber', function () {
                                                        return {
                                                            require: '?ngModel',
                                                            link: function (scope, element, attrs, ngModelCtrl) {
                                                                if (!ngModelCtrl) {
                                                                    return;
                                                                }

                                                                ngModelCtrl.$parsers.push(function (val) {
                                                                    if (angular.isUndefined(val)) {
                                                                        var val = '';
                                                                    }

                                                                    var clean = val.replace(/[^-0-9\.]/g, '');
                                                                    var negativeCheck = clean.split('-');
                                                                    var decimalCheck = clean.split('.');
                                                                    if (!angular.isUndefined(negativeCheck[1])) {
                                                                        negativeCheck[1] = negativeCheck[1].slice(0, negativeCheck[1].length);
                                                                        clean = negativeCheck[0] + '-' + negativeCheck[1];
                                                                        if (negativeCheck[0].length > 0) {
                                                                            clean = negativeCheck[0];
                                                                        }

                                                                    }

                                                                    if (!angular.isUndefined(decimalCheck[1])) {
                                                                        decimalCheck[1] = decimalCheck[1].slice(0, 2);
                                                                        clean = decimalCheck[0] + '.' + decimalCheck[1];
                                                                    }

                                                                    if (val !== clean) {
                                                                        ngModelCtrl.$setViewValue(clean);
                                                                        ngModelCtrl.$render();
                                                                    }
                                                                    return clean;
                                                                });

                                                                element.bind('keypress', function (event) {
                                                                    if (event.keyCode === 32) {
                                                                        event.preventDefault();
                                                                    }
                                                                });
                                                            }
                                                        };
                                                    });
                                                    postApp.controller('postController', function ($scope, $http) {
                                                        $scope.donor = {};
                                                        $scope.donor.funding_amount = '5';
//                                                        $scope.wks =  {number: 1, validity: true}
//                                                            $scope.submitForm = function () {
                                                        $("#donationamt").submit(function () {

                                                            if ($scope.donorsForm.$valid && $scope.donor.funding_amount > 4) {

//                                                                if ($scope.donor.funding_amount >= 5) {
//                                                                 
//                                                                    return true;
//                                                                } else {
//                                                                  
//                                                                    $('.funding_amount').removeClass('ng-hide');
//                                                                    $('.funding_amount').show();
//                                                                    return false;
//                                                                }
                                                                return true;
                                                            } else {
                                                                if ($scope.donor.funding_amount < 5) {
                                                                    $('.funding_amount').removeClass('ng-hide');
                                                                    $('.funding_amount').show();
                                                                }
                                                                return false;

                                                            }
//                                                        };
                                                        });
                                                    });

                                                    $('#funding_amount').keyup(function () {
                                                        $('.funding_amount').hide();
                                                    });
</script>
