<%- include ../header.ejs %>
<!-- Page Title -->
<title>Stumuch</title>

<!-- Favicon and Touch Icons -->

<!-- Stylesheet -->
<link rel="stylesheet" type="text/css" href="../../slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="../../slick/slick-theme.css"/>
<!-- <link href="../../index_files/bootstrap.css" rel="stylesheet" type="text/css"> -->
<link href="../../index_files/jquery-ui.css" rel="stylesheet" type="text/css">
<link href="../../index_files/animate.css" rel="stylesheet" type="text/css">
<!-- <link href="../../index_files/css-plugin-collections.css" rel="stylesheet"> -->
<!-- CSS | menuzord megamenu skins -->
<!-- <link id="menuzord-menu-skins" href="../../index_files/menuzord-boxed.css" rel="stylesheet"> -->
<!-- CSS | Main style file -->
<!-- <link href="../../index_files/style-main.css" rel="stylesheet" type="text/css"> -->
<!-- CSS | Preloader Styles -->
<link href="../../index_files/preloader.css" rel="stylesheet" type="text/css">
<!-- CSS | Custom Margin Padding Collection -->
<link href="../../index_files/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
<!-- CSS | Responsive media queries -->
<link href="../../index_files/responsive.css" rel="stylesheet" type="text/css">
<!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
<link href="css/style.css" rel="stylesheet" type="text/css">


<!-- CSS | Theme Color -->
<link href="../../index_files/theme-skin-blue-gary.css" rel="stylesheet" type="text/css">

<!-- external javascripts -->
<!-- <script src="../../index_files/jquery-2.js"></script> -->
<!-- <script src="../../index_files/jquery-ui.js"></script> -->
<!-- <script src="../../index_files/bootstrap.js"></script> -->
<!-- JS | jquery plugin collection for this theme -->
<!-- <script src="../../index_files/jquery-plugin-collection.js"></script> -->

<!-- Revolution Slider 5.x SCRIPTS -->
<!-- <script src="../../index_files/jquery_002.js"></script> -->
<!-- <script src="../../index_files/jquery.js"></script> -->
<!-- <script async src="//static.addtoany.com/menu/page.js"></script> -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
 

 <style>
#jumbo1{
  background-image: url(../../index_files/meetus.jpg);
  background-size:cover;
  background-color:rgba(192,192,192,0.3);
}
</style>
</head>
<body class="" style="">

  <!-- preloader -->

   


     

      <section>
        <div class="jumbotron" id="jumbo1">

          <div class="container" style="margin-top: 92px; background-color: rgba(255, 255, 255, 0.9);">

            <form action="/search_student" method="POST">
             <br><br> <div class="input-group col-md-10"> 
             <input type="text"  class="search-query form-control" placeholder="Find a student" name="stu_name" value="<%= student_find %>">
             <span class="input-group-btn">
              <button id="search" class="btn btn-dark btn-theme-colored" type="submit" style="line-height:1.8">
                <span>Search</span>
              </button>
            </span>
          </div><br>

          <p><b><input name="bday_check" id="bday_check" value="1" type="checkbox" <%= bday_check=='1'? 'checked' : 'unchecked' %> > Birthday Today</b></p>


        </div>
      </div>


    </div>

  </section>

  <section>
    <div class="container">
      <div class="section-title">
        <div class="row">
          <div class="col-md-6 ">

            <h2 class="mt-0 text-uppercase font-28">All <span class="text-theme-colored font-weight-400"> Profiles</span> <span class="font-30 text-theme-colored"></span></h2>

          </div>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
         <% _.each(humans, function (humans) { %>
         <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="causes maxwidth500 mb-sm-50">
            <div class="thumb">
              <img class="img-fullwidth" alt="" src="<% if (humans.student_profile_pic_path == '' || humans.student_profile_pic_path == null) { %>../../index_files/blank_dp.jpg <% } else { %>../../index_files/uploads/<%= humans.student_id %>/<%= humans.student_profile_pic_path %> <% } %>" width="250" height="230">
              <div class="donate-piechart piechart-absolute">
                <%if (today == humans.student_birthdate) { %> <img src="../../index_files/cake.png" style="width:21%;float:right"><% } %>
              </div>
            </div>
            <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
              <h3 class="title mt-0 mb-5"><a href="/single_profile/<%= humans.student_id %>"> <%= humans.student_firstname %> <%= humans.student_lastname %></a></h3>

              <p class="desc mb-10 about_stu"><%= humans.student_about_me %>...</p>
              <div class="progress-item mt-0">
                <div class="progress mb-10">
                  <%if (humans.loan_amount == "0") { %>
                  <div data-percent="0" class="progress-bar"><span class="percent">0</span>
                  </div>
                  <% }  else {%>
                  <% var percentage= (humans.total_funded/humans.loan_amount)*100 %>
                  <div data-percent="<%= percentage.toFixed(2) %>" class="progress-bar">
                      <span class="percent"><%= percentage.toFixed(2) %></span>
                  </div>
                  <% } %>


                </div>
              </div>
              <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                <li class="current-fund"><strong>$<%= humans.loan_amount %></strong>total</li>
                <li class="target-fund"><strong>$<%= humans.total_funded %></strong>collected</li>
                <li ><a href="/donorpage/<%= humans.student_id %>"> <button class="btn btn-success"><strong class="white">Donate</strong></button></a></li>
              </ul>
            </div>
          </div>
        </div>

        <% }) %>
      </div>

      <!-- <div class="container">
        <center>          
          <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
          </ul>
        </center>
      </div>
 -->    </div>
  </div>
</div>
</section>
<!-- Section: Features -->


<!-- end main-content -->

<!-- Footer -->

<a style="display: block;" class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<!-- Footer -->
<%- include ../footer.ejs %>

<script src="../../index_files/jquery-ui.js"></script>
<script src="../../index_files/bootstrap.js"></script>
<!-- JS | jquery plugin collection for this theme -->
<script src="../../index_files/jquery-plugin-collection.js"></script>
<!-- <script src="../../index_files/custom.js"></script> -->

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
      (Load Extensions only on Local File Systems ! 
      The following part can be removed on Server for On Demand Loading) -->


      <script>

        $(document).ready(function() {

          $("#owl-demo").owlCarousel({

          autoPlay: 3000, //Set AutoPlay to 3 seconds

          items : 4,
          itemsDesktop : [1199,3],
          itemsDesktopSmall : [979,3]

        });

        });

      </script>



      <!-- Color Switcher Starts | Only for demo purpose and not included in main file -->

      <!-- switcher html -->

      <!-- Color Switcher Ends-->
      <!-- Modal: Bootstrap Parent Modal Starts -->
      <div class="modal fade" id="BSParentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
            </div>
          </div>
        </div>
      </div>
      <!-- Modal: Bootstrap Parent Modal Ends -->

      <script>
        $(document).ready(function(){
         $(".about_stu").text(function(index, currentText) {
          return currentText.substr(0, 52);
        });
       });
     </script>