        
<%- include header.ejs %>

<% 
function RoundNum( num, precision ) {
var temp=(+(Math.round(+(num + 'e' + precision)) + 'e' + -precision)).toFixed(precision);
return temp;
}
%>


</div>
<!-- end .rev_slider_wrapper -->

<!-- Slider Revolution Ends -->

</div>
</section>
<input type="hidden" value="" name="os_name" id="os_name">
<div class="jumbotron" id="jumbo">
    <div class="container">
        <div class="" >
            <center><h1 style="color:#000;padding-top:22%;text-shadow: 2px 0px 0px rgb(8, 7, 7);font-weight: bolder;letter-spacing: 6px;"><strong>HAPPY <br>BEGINNING !</strong></h1></center>
        </div></div></div>
<div class="container">
    <!-- Section: Features -->
    <center>

        <section id="cent" class="bg-lighter hidden-xs hidden-sm" data-wow-duration="0.8s" data-delay="2.0s" style="margin-top:-130px;background-color:#fff">
            <div style="padding-top:60px;">
                <div class="type_base">
                    <div class="col-md-3 col-sm-6">
                        <img src="index_files/adduser.png" width="50">
                        <h4>Create account</h4>

                        <p>Step 1: Create your account by registering on Stumuch </p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <img src="index_files/profile.png" width="50">
                        <h4>Setup Profile</h4>

                        <p>Step 2: Setup your funding profile</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <img src="index_files/books.png" width="50">
                        <h4>Share Profile</h4>

                        <p>Step 3: Share your profile with others</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <img src="index_files/phone.png" width="50">
                        <h4>Get Funded</h4>

                        <p>Step 4: Free yourself from debt</p>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="input-group col-md-12" style="width:90%">
                    <br><br>

                    <form action="/search_student" method="POST">

                        <input type="text"  class="search-query form-control" id="search_input" placeholder="Find a student" name="stu_name"/ style="height:42px; width:85%" >
                               <span class="input-group-btn">
                            <button id="search" class="btn btn-dark btn-theme-colored submitbtn " type="submit" style="line-height:1.65;width:100%">
                                <span>Search</span>
                            </button>
                        </span>
                </div><br>


                <p class="front_birthday"><b><input type="checkbox" name="bday_check" id="bday_check" value="1"> Birthday Today</b></p>
                </form>

            </div></div>

            </div> 
        </section>
        <section style="padding-top:60px;">
            <div class="container">

                <h2 class="mt-0 text-uppercase font-28">how <span class="text-theme-colored font-weight-400"> it works</span> <span class="font-30 text-theme-colored"></span></h2><Br>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <!-- Section: Featured Projects  -->
                    <div class="col-md-8">

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video_link[1] %>" frameborder="0" allowfullscreen></iframe>

                        </div>
                    </div>



                </div>
            </div>
            </div>
        </section>
    </center>

    <% if (birthday.length != '') { %>

    <section>
        <div class="container">
            <div class="section-title">
                <div class="row">

                    <div class="col-md-6">

                        <h2 class="mt-0 text-uppercase font-28">Today's <span class="text-theme-colored font-weight-400">Birthdays</span> </h2>

                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel-3col owl-carousel owl-theme owl-loaded" >



                            <%if (birthday.length > 0) { %>
                            <%_.each(birthday, function (birthday) { %>



                            <div class="item">

                                <div class="causes maxwidth500 mb-sm-50">
                                    <div class="thumb">
                                        <a href="/single_profile/<%= birthday.student_id %>">  <img src=" <% if (birthday.student_profile_pic_path == '' || birthday.student_profile_pic_path == null) { %>../../index_files/blank_dp.jpg <% } else { %>../../index_files/uploads/<%= birthday.student_id %>/<%= birthday.student_profile_pic_path %> <% } %>" style="" class="dp_left thumbnail"></a>
                                        <div class="donate-piechart piechart-absolute">


                                            <img src="../../index_files/cake.png" style="width:21%;float:right">
                                        </div>
                                    </div>
                                    <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
                                        <h3 class="title mt-0 mb-5"><a href="/single_profile/<%= birthday.student_id %>"> <%= birthday.student_firstname %> <%= birthday.student_lastname %></a></h3>

                                        <p class="desc mb-10 about_stu"><%= birthday.student_about_me %></p>
                                        <div class="progress-item mt-0">
                                            <div class="progress mb-10">
                                                <%if (birthday.loan_amount == "0") { %>
                                                <div data-percent="0" class="progress-bar"><span class="percent">0</span>
                                                </div>
                                                <% }  else {%>
                                                <% var percentage= (birthday.total_funded/birthday.loan_amount)*100 %>
                                                <div data-percent="<%= RoundNum(percentage,2) %>" class="progress-bar"><span class="percent"><%= RoundNum(percentage,2) %> %</span>
                                                </div>
                                                <% } %>


                                            </div>
                                        </div>
                                        <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                                            <li class="current-fund"><strong>$<%= birthday.loan_amount %></strong>total</li>
                                            <li class="target-fund"><strong>$<%= RoundNum(birthday.total_funded,2) %></strong>collected</li>
                                            <% if (birthday.loan_amount != "0") { %>
                                            <li ><a  href="/donorpage/<%= birthday.student_id %>"> <button class="btn btn-success donate-page"><strong class="white">Donate</strong></button></a></li>
                                            <% } %>
                                        </ul>

                                    </div>
                                </div>


                            </div>


                            <% }) %>
                            <% } else { %>

                            <% } %>



                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <% } %>


    <br>

    <!-- Section: Latest Projects  -->
    <section>
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-6">

                        <h2 class="mt-0 text-uppercase font-28">Recent <span class="text-theme-colored font-weight-400"> profiles</span> <span class="font-30 text-theme-colored"></span></h2>

                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">

                    <% _.each(student_details, function (student_details) { %>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div  class="owl-item cloned">
                            <div class="item mb-10">
                                <div class="image-box-thum">
                                    <a href="/single_profile/<%= student_details.student_id %>"> 
                                        <img src=" <% if (student_details.student_profile_pic_path == '' || student_details.student_profile_pic_path == null) { %>../../index_files/blank_dp.jpg <% } else { %>../../index_files/uploads/<%= student_details.student_id %>/<%= student_details.student_profile_pic_path %> <% } %>" style="">

                                    </a>


                                    <div class="donate-piechart piechart-absolute">
                                        <%if (today == student_details.student_birthdate) { %> 

                                        <img src="../../index_files/cake.png" style="width:21%;float:right">
                                        <% } %>
                                    </div>



                                </div>
                                <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
                                    <h3 class="title mt-0 mb-5"><a href="/single_profile/<%= student_details.student_id %> "><%= student_details.student_firstname %> <%= student_details.student_lastname %></a></h3>

                                    <p class="desc mb-10 about_stu"><%= student_details.student_about_me %></p>
                                    <div class="progress-item mt-0">
                                        <div class="progress mb-10">
                                            <%if (student_details.loan_amount == "0") { %>
                                            <div data-percent="0" class="progress-bar"><span class="percent">0</span>
                                            </div>
                                            <% }  else {%>
                                            <% var percentage= (student_details.total_funded/student_details.loan_amount)*100 %>
                                            <div data-percent="<%= RoundNum(percentage,2) %>" class="progress-bar"><span class="percent"><%= RoundNum(percentage,2) %></span>
                                            </div>
                                            <% } %>


                                        </div>
                                    </div>
                                    <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                                        <li class="current-fund"><strong>$<%= student_details.loan_amount %></strong>total</li>
                                        <li class="target-fund"><strong>$<%= RoundNum(student_details.total_funded,2) %></strong>collected</li>
                                        <% if (student_details.loan_amount != "0") { %>
                                        <li ><a href="/donorpage/<%= student_details.student_id %>" > <button class="btn btn-success donate-page"><strong class="white">Donate</strong></button></a></li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <span class="clearfix"></span>
                    <div class="col-md-12">
                        <div class="text-center">
                            <a class="btn btn-default btn-lg" href="/allprofile">Show More Profiles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Divider: testimonials -->

    <!-- Section: blog -->


    <!-- Section: Clients -->

</div>
<!-- end main-content -->

<!-- Footer -->

<%- include footer.ejs %>


<script>
    $(document).ready(function () {
        $(".about_stu").text(function (index, currentText) {
            return currentText.substr(0, 52);
        });
    });
</script>