<%- include ../stuhead.ejs %>
<%- include ../stud_left.ejs %>
 
<style>
.white{
  background-color:#fff;
  padding:5px 30px;
}
.white h3{
  margin:5px;
}
</style>
      
<section id="main-content">
          <section class="wrapper">
          <div class="row">
          <div class="col-md-9">
          <h2>Loan details<span class="pull-right"> <a href="/loan_edit"><button class="btn btn-success">Edit</button></a> </span></h2>
          <br>
 <% _.each(answer, function (answer) { %>
 <div class="row">
 <div class="col-md-6">
 <div class="white">
 <h4> <span class="small">Loan purpose </span><br><%= answer.loan_purpose_name %></h4><br>
 </div>
 <br>
 </div>
 
 <div class="col-md-6">
 <div class="white">
 <h4> <span class="small">Loan amount </span><br><%= answer.loan_amount %></h4><br>
 </div>
 <br>
 </div>
   </div>
   <div class="row">
 <div class="col-md-6">
 <div class="white">
 <h4> <span class="small">Loan bank name </span><br><%= answer.loan_bankname %></h4><br>
 </div>
 <br>
 </div>
 <div class="col-md-6">
 <div class="white">
 <h4> <span class="small">Loan account number </span><br><%= answer.loan_accountno %></h4><br>
 </div>
 </div>
</div>
<div class="row">
 <div class="col-md-6">
 <div class="white">
 <h4> <span class="small">Remittance account bank name </span><br><%= answer.remittance_account_bank_name %></h4><br>
 </div>
 </div>
 <div class="col-md-6">
 <div class="white">
 <h4> <span class="small">Remittance bank account number: </span><br><%= answer.remittance_account_bankaccount_no %></h4><br>
 </div>
 <br>
 </div>
</div>
<div class="row">
 <div class="col-md-6">
 <div class="white">
 <h4> <span class="small">Remittance account bank IFSC code: </span><br><%= answer.remittance_account_ifsc %></h4>
 </div><br>
 </div>  
 <div class="col-md-6">
 
 </div> 
 </div>
 <div class="row"> 
 <div class="col-md-12">
 <div class="white">
  <h4> <span class="small">Loan details note: </span><br><%= answer.loan_details_note %></h4><br>
 </div>
 </div>  
 </div>
   
   
   <br>
   
   
   
  
  
   </div>
    <%- include ../stud_right.ejs %> 
   </div>
 </section>
  </div> <% }) %>
              
                  <%- include ../stufoot.ejs %>