<%- include ../stuhead.ejs %>

<%- include ../stud_left.ejs %>

<style>
    div.tooltip-inner {
        max-width: 350px;
    }
    .has-error {
        overflow: visible !important;
    }
    .fileUpload .help-block.form-error {
        position: absolute !important;
        display: block !important;
        top: 52px !important;
        left: -2px !important;
        z-index: 99 !important;
        font-size: 13px !important;
    }
    .fileUpload input.upload:after {
        content: "\f040";
        font-family: 'fontAwesome';
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: block;
        color: #fff;
        background-color: #00a290;
        position: absolute;
        top: -14px;
        left: 10px;
        padding: 10px 15px;
        font-size: 16px;
    }
    .fileUpload input.upload:before {
        content: '';
        width: 82px;
        height: 50px;
        display: block;
        background-color: #fff;
        position: absolute;
        top: -18px;
        left: 0px;
    }
    .fileUpload {
        overflow: visible;
    }
    .fileUpload.browse input.upload {
        opacity: 1;
        top: 12px;
        left: -12px;
        font-size: 13px;
    }
    .fileUpload.browse input.upload:focus {
        outline: none;
    }
    .browse {
        color: #333;
        overflow: visible;
    }
    .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 5px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 360px;
        height: 230px;
    }

    .cropit-preview-image-container {
        cursor: move;
    }

    .cropit-preview-background {
        opacity: .2;
        cursor: auto;
    }

    .image-size-label {
        margin-top: 10px;
    }
    .options{
        font-size:21px;
        background-color: #00a290;
        border:none;
    }
    input[type=file]:before {
        content: '\f0c6 Browse';
        font-family: 'FontAwesome';
        width: 90px;
        height: 32px;
        background: #00a290;
        display: block;
        color: #fff;
        font-size: 15px;
        position: absolute;
        cursor: pointer;
        margin-top: -5px;
        border-radius: 4px;
        padding: 3px 10px;
        border: 1px solid #008677;
    }
</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">


<section id="main-content" ng-app="postApp" ng-controller="postController">
    <section class="wrapper">
        <div class="row">
            <div class="col-md-9"> 
                <h2>Personal details</h2>
                <br>
                <!--   <form id="userPhoto" enctype="multipart/form-data" action="/upload_dp/<%= student_info[0].student_id %>" method="POST">
                  
                  <div class="col-md-12" style="margin-bottom:20px">
      
                  <div class="thumbnail" style="background-color:#fff;border:0px;display:block;margin:0px auto;width:350px">
                  
                  <div class="profile_image" style="">
                  <img src="<% if (student_info[0].student_profile_pic_path == '' || student_info[0].student_profile_pic_path == null) { %><% sails.getBaseurl() %>/index_files/blank_dp.jpg <% } else { %><% sails.getBaseurl() %>/index_files/uploads/documents/<%= student_info[0].student_profile_pic_path %> <% } %>" style="width: 100%;" data-toggle="tooltip" title="This is the image that is shown on the site along with your name.  Make it as real as possible. A simple face image works best.">
                  
                  
                    </div>
                    <div class="fileUpload btn btn-default browse">
      <span class="fa fa-pencil pencil_icon"></span>
       <input  name="userPhoto" data-validation="required" type="file" data-validation="mime size" data-validation-allowing="jpg, png, gif"  class="upload"  data-validation-error-msg-mime="You can only upload images" data-validation-error-msg="Upload your image first">
      </div>
                   <div class="fileUpload btn btn-default pull-right">
      <span class="fa fa-check pencil_icon"></span>
        <input type="submit" value="submit" class="upload"/>
      </div>
                  
                    </div>
                    
                   
         </div>
        </form> --> <div class="image-editor">
                    <div class="col-md-8">

                        <input type="file" class="cropit-image-input" style="padding-bottom:10px">
                       
                        <div class="cropit-preview">
                          
                        </div>

                    </div>
                    <div class="col-md-3 pull-right" style="padding-top:38px">
                        <button class="rotate-ccw options btn btn-warning"> <i class="fa fa-undo" aria-hidden="true"></i> </button><br><br>

                        <button class="rotate-cw options btn btn-warning"> <i class="fa fa-repeat" aria-hidden="true"></i> </button><br><br>
                        <button class="export options btn btn-warning"> <i class="fa fa-check" aria-hidden="true"></i> </button>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="image-size-label">
                                    <br>
                                    Resize image
                                </div>
                                <input type="range" class="cropit-image-zoom-input range1">
                            </div>
                        </div>
                    </div>



                </div>
                <br>
                <!--form action="/personal_edit_submit" method="POST" role="form"-->
                <form class="form" ng-submit="submitForm()" name="personalform" novalidate>

                    <div class="col-md-12">
                        <div class="form-group">

                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <label for="student_firstname">Your firstname: </label>
                                <input type="text" ng-model="student.student_firstname" class="form-control" id="student_firstname" name="student_firstname" placeholder="Enter your first name" ng-pattern="/^[a-zA-Z]+$/" value="<%= student_info[0].student_firstname %>" required>
                                <p ng-show="submitted && personalform.student_firstname.$error.required" class="help-block has-error ng-hide">Firstname is required.</p>
                                <p ng-show="submitted && personalform.student_firstname.$error.pattern" class="help-block has-error ng-hide">Please enter your name properly</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="student_lastname">Your lastname: </label>
                                <input type="text" ng-model="student.student_lastname" class="form-control" id="student_lastname" name="student_lastname" ng-pattern="/^[a-zA-Z]+$/" placeholder="Enter your last name" value="<%= student_info[0].student_lastname %>" required>
                                <p ng-show="submitted && personalform.student_lastname.$error.required"  class="help-block has-error ng-hide">Lastname is required.</p>
                                <p ng-show="submitted && personalform.student_lastname.$error.pattern" class="help-block has-error ng-hide">Please enter your last name properly</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="student_contactno">Your contact number: </label>
                                <input type="text" ng-model="student.student_contactno"  class="form-control" id="student_contactno" name="student_contactno" placeholder="Enter your Contact number" value="<%= student_info[0].student_contactno %>" required>
                                <p ng-show="submitted && personalform.student_contactno.$error.required"  class="help-block has-error ng-hide">Contact number is required.</p>
                                <!--<p ng-show="submitted && personalform.student_contactno.$error.pattern" class="help-block has-error ng-hide">Please enter characters only</p>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="student_email">Your email: </label>
                                <input type="text" ng-model="student.student_email" class="form-control" id="student_email" name="student_email"  placeholder="Enter your email about you" value="<%= student_info[0].student_email %>" readonly required>
                                <p ng-show="submitted && personalform.student_contactno.$error.required"  class="help-block has-error ng-hide">Email is required.</p>
                                <!--<p ng-show="submitted && personalform.student_contactno.$error.pattern" class="help-block has-error ng-hide">Enter your email properly</p>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="student_address">Your address: </label>
                                <input type="text" maxlength="288" ng-maxlength="288" ng-model="student.student_address" class="form-control" id="student_address" name="student_address" placeholder="Enter your address" value="<%= student_info[0].student_address %>" required>
                                <p ng-show="submitted && personalform.student_address.$error.required"  class="help-block has-error ng-hide">Address is required.</p>
                                <p ng-show="submitted && personalform.student_address.$error.maxlength"   class="help-block has-error ng-hide">Address should be up to 288 characters.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="student_city">Your city: </label>
                                <input type="text" ng-model="student.student_city" ng-pattern="/^[a-zA-Z ]+$/" class="form-control" id="student_city" name="student_city" placeholder="Enter your city" value="<%= student_info[0].student_city %>" required>
                                <p ng-show="submitted && personalform.student_city.$error.required"  class="help-block has-error ng-hide">City is required.</p>
                                <p ng-show="submitted && personalform.student_city.$error.pattern" class="help-block has-error ng-hide">Please enter characters only</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="student_state">Your state: </label>
                                <input type="text" ng-model="student.student_state" ng-pattern="/^[a-zA-Z ]+$/" class="form-control" id="student_state" name="student_state" placeholder="Enter your state" value="<%= student_info[0].student_state %>" required>
                                <p ng-show="submitted && personalform.student_state.$error.required"  class="help-block has-error ng-hide">State is required.</p>
                                <p ng-show="submitted && personalform.student_state.$error.pattern" class="help-block has-error ng-hide">EPlease enter characters only</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="student_country">Your country: </label>
                                <input type="text" ng-model="student.student_country" ng-pattern="/^[a-zA-Z ]+$/" class="form-control" id="student_country" name="student_country" placeholder="Enter your country" value="<%= student_info[0].student_country %>" required>
                                <p ng-show="submitted && personalform.student_country.$error.required"  class="help-block has-error ng-hide">Country is required.</p>
                                <p ng-show="submitted && personalform.student_country.$error.pattern" class="help-block has-error ng-hide">Please enter characters only</p>
                            </div></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="zip_code">Enter Zip Code: </label>
                                <div class="input-group">
                                    <input type="text" ng-pattern="/^[0-9]+$/" ng-model="student.zip_code" class="form-control" id="zip_code" name="zip_code" placeholder="Enter Zip Code" value="<%= student_info[0].zip_code %>" required>
                                </div> </div>
                            <p ng-show="submitted && personalform.zip_code.$error.required"  class="help-block has-error ng-hide">Zip Code is required.</p>
                            <p ng-show="submitted && personalform.zip_code.$error.pattern"  class="help-block has-error ng-hide">Please enter numbers only.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="student_birthdate">Your birthdate: <a href="#" data-toggle="tooltip" title=" We cross check validity of all information submitted including your birth 
                                                                                  date. On your special day, we feature you on the site so that funders can find you more easily.  "> <i  class="glyphicon glyphicon-question-sign"></i></a></label>
                                <!-- <p class="tip"><em>Tip:We cross check validity of all information submitted including your birth 
                           date. On your special day, we feature you on the site so that funders can find you more easily.<em></p> -->
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type="text" data-format="YYYY-MM-DD" ng-model="student.student_birthdate" max="2016-10-13" class="form-control" id="student_birthdate" name="student_birthdate" placeholder="Enter your birthdate" value="<%= student_info[0].student_birthdate %>" required><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                    </span>

                                </div> </div>
                            <p ng-show="submitted && personalform.student_birthdate.$error.required"  class="help-block has-error ng-hide">Birthdate is required.</p>
                            <p ng-show="submitted && personalform.student_birthdate.$error.date"  class="help-block has-error ng-hide">Enter your birth date correctly.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="student_about_me">About yourself:  <a href="#" data-toggle="tooltip" title="Describe yourself in a way that would appeal to others who will want to fund you. Honesty is a virtue! If you’re in the work force now, talk about your work and it’s relation to your education."> <i  class="glyphicon glyphicon-question-sign"></i></a></label>
                                <textarea rows="6" ng-model="student.student_about_me" class="form-control" id="student_about_me" name="student_about_me" placeholder="Enter something about you" required><%= student_info[0].student_about_me %> </textarea>
                                <p ng-show="submitted && personalform.student_about_me.$error.required"  class="help-block has-error ng-hide">About you field is required.</p>

                            </div></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="student_ambition">Your ambition in life: <a href="#" data-toggle="tooltip" title="What can you do for society with the education that you receive?"> <i  class="glyphicon glyphicon-question-sign"></i></a></label>
                                <textarea rows="6" ng-model="student.student_ambition" class="form-control" id="student_ambition" name="student_ambition" placeholder="Enter your ambition" required><%= student_info[0].student_ambition %> </textarea>
                                <p ng-show="submitted && personalform.student_ambition.$error.required"  class="help-block has-error ng-hide">Ambition field is required.</p>

                            </div>
                        </div>
                    </div>


                    <br>
                    <input type="hidden" name="_csrf" value="<% _csrf%>" />
                    <input type="submit" ng-click="submitted = true" class="btn btn-primary col-xs-offset-5" value="Submit">
                    <a href="/viewprofile/<%= student_info[0].student_id %>"><button type="cancel" class="btn btn-default text-center">Cancel</button></a>
                    <% var bdate = student_info[0].student_birthdate %>
                  
                </form>

            </div>      <div class="col-md-3"><%- include ../stud_right.ejs %></div>
        </div>
    </section>
</section> 

<%- include ../stufoot.ejs %>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/js/bootstrap-datetimepicker.min.js"></script>
<script>
                        $.validate({
                            lang: 'es',
                            modules: 'file'
                        });
</script>



<script>
    var postApp = angular.module('postApp', []);
    postApp.controller('postController', function ($scope, $http) {
        $scope.student = {};
        $(function () {
            $('.image-editor').cropit({
                exportZoom: 1.25,
                imageBackground: true,
                imageBackgroundBorderWidth: 20,
                smallImage: 'allow',
                minZoom: 'fit',
               
                imageState: {
                    src: 'http://lorempixel.com/500/400/',
                },
            });
             $('.image-editor').cropit('imageSrc', '<% sails.getBaseurl() %>/index_files/uploads/<%= student_info[0].student_id %>/<%= student_info[0].student_profile_pic_path %>');
            $('.image-editor').cropit('previewSize', {width: 510, height: 327});
            $('.rotate-cw').click(function () {
                $('.image-editor').cropit('rotateCW');
            });
            $('.rotate-ccw').click(function () {
                $('.image-editor').cropit('rotateCCW');
            });

            $('.export').click(function () {
                var imageData = $('.image-editor').cropit('export',{
  type: 'image/jpeg',
  quality: .9,
  originalSize: false
});
                append_image(imageData);

            });
        });
        function append_image(data) {
            $scope.student.image = data;
        }

                $scope.student.student_firstname = "<%= student_info[0].student_firstname %>";
        $scope.student.student_lastname = "<%= student_info[0].student_lastname %>";
        $scope.student.student_contactno = "<%= student_info[0].student_contactno %>";
        $scope.student.student_email = "<%= student_info[0].student_email %>";
        $scope.student.student_address = "<%= student_info[0].student_address %>";
        $scope.student.student_city = "<%= student_info[0].student_city %>";
        $scope.student.student_state = "<%= student_info[0].student_state %>";
        $scope.student.student_country = "<%= student_info[0].student_country %>";
        $scope.student.student_birthdate = "<%= student_info[0].student_birthdate %>";
        $scope.student.zip_code = "<%= student_info[0].zip_code %>";
                $scope.student.student_about_me = ` <%= student_info[0].student_about_me %> `;
                $scope.student.student_ambition = ` <%= student_info[0].student_ambition %> `;
                $scope.submitForm = function () {
                    $('.export').trigger('click');
                    $scope.student.student_birthdate = $('#student_birthdate').val();
                    if ($scope.personalform.$valid) {
                        $http({
                            method: 'POST',
                            //                    dataType: 'json',
                            url: '/personal_edit_submit/<%= student_info[0].student_id %>',
                            data: $scope.student, //forms user object
                            headers: {'Content-Type': 'application/json'}
                        }).success(function (data) {
                            window.location = '/viewprofile/<%= student_info[0].student_id %>';
                        });

                    }

                }
        ;
    });
            </script>
<script>

</script>
<script type="text/javascript">
            $(function () {
                $("#datetimepicker1").datetimepicker({ format: 'YYYY-MM-DD'});
            });
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script src="../../index_files/cropit/dist/jquery.cropit.js"></script>
