  <%- include ../stuhead.ejs %>
 <% _.each(student_info, function (student_info) { %>
   <%- include ../stud_left.ejs %>

   <style>
div.tooltip-inner {
    max-width: 350px;
}
</style>
   
   <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">


  <section id="main-content" ng-app="postApp" ng-controller="postController">
            <section class="wrapper">
            <div class="row">
            <div class="col-md-9"> 
            <h2>Personal details</h2>
            <br>
            <form id="userPhoto" enctype="multipart/form-data" action="/upload_dp/<%= student_info.student_id %>" method="POST">
            
            <div class="col-md-12" style="margin-bottom:20px">

            <div class="thumbnail" style="background-color:#fff;border:0px;display:block;margin:0px auto;width:350px">
            
            <div class="profile_image" style="">
            <img src="<% if (student_info.student_profile_pic_path == '' || student_info.student_profile_pic_path == null) { %><% sails.getBaseurl() %>/index_files/blank_dp.jpg <% } else { %><% sails.getBaseurl() %>/index_files/uploads/documents/<%= student_info.student_profile_pic_path %> <% } %>" style="width: 100%;" data-toggle="tooltip" title="This is the image that is shown on the site along with your name.  Make it as real as possible. A simple face image works best.">
             <!-- <a class="pull-right" href="#" data-toggle="tooltip" title="This is the image that is shown on the site along with your name.  Make it as real as possible. A simple face image works best."> <i  class="glyphicon glyphicon-question-sign pull-right"></i></a> -->
            
              </div>
              <div class="fileUpload btn btn-default">
<span class="fa fa-pencil pencil_icon"></span>
 <input type="file" name="userPhoto" class="upload" />
</div>
             <div class="fileUpload btn btn-default pull-right">
<span class="fa fa-check pencil_icon"></span>
  <input type="submit" value="submit" class="upload"/>
</div>
            
              </div>
              
             
   </div>
  </form>
            <br>
             <!--form action="/personal_edit_submit" method="POST" role="form"-->
             <form class="form" ng-submit="submitForm()" name="personalform" novalidate>

             <div class="col-md-12">
      <div class="form-group">
        
      </div>
  </div> 
  <div class="row">
       <div class="col-md-6">
      <div class="form-group">

        <label for="student_firstname">Your firstname: </label>
        <input type="text" ng-model="student.student_firstname" class="form-control" id="student_firstname" name="student_firstname" placeholder="Enter your first name" value="<%= student_info.student_firstname %>" required>
        <p ng-show="submitted && personalform.student_firstname.$error.required"  class="help-block has-error ng-hide">Firstname is required.</p>
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
        <label for="student_lastname">Your lastname: </label>
        <input type="text" ng-model="student.student_lastname" class="form-control" id="student_lastname" name="student_lastname" placeholder="Enter your last name" value="<%= student_info.student_lastname %>" required>
        <p ng-show="submitted && personalform.student_lastname.$error.required"  class="help-block has-error ng-hide">Lastname is required.</p>
      </div>
  </div>
  </div>
  <div class="row">
  <div class="col-md-6">
      <div class="form-group ">
         <label for="student_contactno">Your contact number: </label>
        <input type="text" ng-model="student.student_contactno" class="form-control" id="student_contactno" name="student_contactno" placeholder="Enter your Contact number" value="<%= student_info.student_contactno %>" required>
         <p ng-show="submitted && personalform.student_contactno.$error.required"  class="help-block has-error ng-hide">Contact number is required.</p>
  </div>
      </div>
  <div class="col-md-6">
      <div class="form-group ">
     <label for="student_email">Your email: </label>
        <input type="text" ng-model="student.student_email" class="form-control" id="student_email" name="student_email" placeholder="Enter your email about you" value="<%= student_info.student_email %>" required>
         <p ng-show="submitted && personalform.student_contactno.$error.required"  class="help-block has-error ng-hide">Email is required.</p>
      </div>
  </div>
  </div>
  <div class="row">
  <div class="col-md-6">
       <div class="form-group ">
     <label for="student_address">Your address: </label>
        <input type="text" ng-model="student.student_address" class="form-control" id="student_address" name="student_address" placeholder="Enter your address" value="<%= student_info.student_address %>" required>
         <p ng-show="submitted && personalform.student_address.$error.required"  class="help-block has-error ng-hide">Address is required.</p>
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
     <label for="student_city">Your city: </label>
        <input type="text" ng-model="student.student_city" class="form-control" id="student_city" name="student_city" placeholder="Enter your city" value="<%= student_info.student_city %>" required>
         <p ng-show="submitted && personalform.student_city.$error.required"  class="help-block has-error ng-hide">City is required.</p>
      </div>
  </div>
  </div>
  <div class="row">
  <div class="col-md-6">
      <div class="form-group">
     <label for="student_state">Your state: </label>
        <input type="text" ng-model="student.student_state" class="form-control" id="student_state" name="student_state" placeholder="Enter your state" value="<%= student_info.student_state %>" required>
         <p ng-show="submitted && personalform.student_state.$error.required"  class="help-block has-error ng-hide">State is required.</p>
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
     <label for="student_country">Your country: </label>
        <input type="text" ng-model="student.student_country" class="form-control" id="student_country" name="student_country" placeholder="Enter your country" value="<%= student_info.student_country %>" required>
         <p ng-show="submitted && personalform.student_country.$error.required"  class="help-block has-error ng-hide">Country is required.</p>
      </div></div>
      </div>
      <div class="row">
       <div class="col-md-6">
      <div class="form-group">
     <label for="zip_code">Enter Zip Code: </label>
     <div class="input-group">
        <input type="text" ng-model="student.zip_code" class="form-control" id="zip_code" name="zip_code" placeholder="Enter Zip Code" value="<%= student_info.zip_code %>" required>
                     </div> </div>
         <p ng-show="submitted && personalform.zip_code.$error.required"  class="help-block has-error ng-hide">Zip Code is required.</p>
      </div>
       <div class="col-md-6">
      <div class="form-group">
     <label for="student_birthdate">Your birthdate: <a href="#" data-toggle="tooltip" title=" We cross check validity of all information submitted including your birth 
date. On your special day, we feature you on the site so that funders can find you more easily.  "> <i  class="glyphicon glyphicon-question-sign"></i></a></label>
     <!-- <p class="tip"><em>Tip:We cross check validity of all information submitted including your birth 
date. On your special day, we feature you on the site so that funders can find you more easily.<em></p> -->
     <div class='input-group date' id='datetimepicker1'>
        <input type="text" data-format="YYYY-MM-DD" ng-model="student.student_birthdate" class="form-control" id="student_birthdate" name="student_birthdate" placeholder="Enter your birthdate" value="<%= student_info.student_birthdate %>" required><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                      </span>

                     </div> </div>
         <p ng-show="submitted && personalform.student_birthdate.$error.required"  class="help-block has-error ng-hide">Birthdate is required.</p>
      </div>
      </div>
      <div class="row">
       <div class="col-md-12">
      <div class="form-group">
      <label for="student_about_me">About yourself:  <a href="#" data-toggle="tooltip" title="Describe yourself in a way that would appeal to others who will want to fund you. Honesty is a virtue! If you’re in the work force now, talk about your work and it’s relation to your education."> <i  class="glyphicon glyphicon-question-sign"></i></a></label>
      <textarea rows="6" ng-model="student.student_about_me" class="form-control" id="student_about_me" name="student_about_me" placeholder="Enter something about you" required><%= student_info.student_about_me %> </textarea>
       <p ng-show="submitted && personalform.student_about_me.$error.required"  class="help-block has-error ng-hide">About you field is required.</p>
       
      </div></div>
      </div>
      <div class="row">
       <div class="col-md-12">
      <div class="form-group">
     <label for="student_ambition">Your ambition in life: <a href="#" data-toggle="tooltip" title="What can you do for society with the education that you receive?"> <i  class="glyphicon glyphicon-question-sign"></i></a></label>
     <textarea rows="6" ng-model="student.student_ambition" class="form-control" id="student_ambition" name="student_ambition" placeholder="Enter your ambition" required><%= student_info.student_ambition %> </textarea>
      <p ng-show="submitted && personalform.student_ambition.$error.required"  class="help-block has-error ng-hide">Ambition field is required.</p>
       
    </div>
      </div>
      </div>
      
     
      <br>
      <input type="hidden" name="_csrf" value="<% _csrf%>" />
     <input type="submit" ng-click="submitted = true" class="btn btn-primary col-xs-offset-5" value="Submit">
      <a href="/viewprofile/<%= student_info.student_id %>"><button type="cancel" class="btn btn-default text-center">Cancel</button></a>
       <% }) %>
     </form>
      
      </div>      <div class="col-md-3"><%- include ../stud_right.ejs %></div>
      </div>
   </section>
    </section> 
                  
                    <%- include ../stufoot.ejs %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/js/bootstrap-datetimepicker.min.js"></script>

   <script>
      var postApp = angular.module('postApp', []);
      postApp.controller('postController', function ($scope, $http) {
      $scope.student={};

      <% _.each(student_info, function (student_info) { %>
    $scope.student.student_firstname='<%= student_info.student_firstname %>';
    $scope.student.student_lastname='<%= student_info.student_lastname %>';
    $scope.student.student_contactno='<%= student_info.student_contactno %>';
    $scope.student.student_email='<%= student_info.student_email %>';
    $scope.student.student_address='<%= student_info.student_address %>';
    $scope.student.student_city='<%= student_info.student_city %>';
    $scope.student.student_state='<%= student_info.student_state %>';
    $scope.student.student_country='<%= student_info.student_country %>';
    $scope.student.student_birthdate='<%= student_info.student_birthdate %>';
    $scope.student.zip_code='<%= student_info.zip_code %>';
    $scope.student.student_about_me='<%= student_info.student_about_me %>';
    $scope.student.student_ambition='<%= student_info.student_ambition %>';


    
          $scope.submitForm = function () {
            $scope.student.student_birthdate=$('#student_birthdate').val();
              if ($scope.personalform.$valid) {
                  $http({
                      method: 'POST',
  //                    dataType: 'json',
                      url: '/personal_edit_submit/<%= student_info.student_id %>',
                      data: $scope.student, //forms user object
                      headers: {'Content-Type': 'application/json'}
                  }).success(function (data) {
                      console.log(data);
                      window.location = '/viewprofile/<%= student_info.student_id %>';
                  });

              }

          };
      });
  <% }) %>
  </script>
  <script type="text/javascript">
              $(function () {
                  $('#datetimepicker1').datetimepicker({
                   format: 'YYYY-MM-DD'
             });
              });
          </script>
          <script>
                                                $(document).ready(function () {
                                                    $('[data-toggle="tooltip"]').tooltip();
                                                });
</script>

   