<%- include ../stuhead.ejs %>

<%- include ../stud_left.ejs %>
<% var current_menu=req.param('tab')%>
<% 
function RoundNum( num, precision ) {
var temp=(+(Math.round(+(num + 'e' + precision)) + 'e' + -precision)).toFixed(precision);
return temp;
}
%>
<style>
    .image_pro{
        width:100%; 
        margin-top:15px
    }
</style>
<% console.log('student_info[0]') %>
<% console.log(student_info[0]) %>
<link href="../../index_files/lightbox.css" rel="stylesheet">
<section id="main-content">
    <section class="wrapper">

        <div class="col-md-9 main-chart">
            <%- req.flash('error') %>
            <%- req.flash('success') %>
            <div class="row white_bg" style="min-height:296px;" >
                <% if (student_info[0].student_profile_pic_path == '' || student_info[0].student_profile_pic_path == null) { %>
                <div class="col-md-7">

                    <img src="<% sails.getBaseurl() %>/index_files/blank_dp.jpg" class="image_pro" />

                </div>
                <% } else { %>
                <div class="col-md-7">

                    <img src="<% sails.getBaseurl() %>/index_files/uploads/<%= student_info[0].student_id %>/<%= student_info[0].student_profile_pic_path %>" class="image_pro" />

                </div>
                <% } %>

                <div class="col-md-5">
                    <% if (student_info[0].profile_lock == '1') { %>
                    <div class="alert alert-danger" style="margin-top:15px;padding:5px;"> <strong>Profile Status :</strong><span class="grn"> Locked by Admin </span></div>
                    <% } else { %>
                    <div class="alert alert-success" style="margin-top:15px;padding:5px;"> <strong>Profile Status :</strong><span class="grn"> Profile is Active</span></div>
                    <% } %>

                    <h2><%= student_info[0].student_firstname %> <%= student_info[0].student_lastname %></h2>
                    <p class="front-info">Email: <%= student_info[0].student_email %></p>
                    <p class="front-info">Contact: <%= student_info[0].student_contactno %></p>
                    <div class="row money_info">
                        <div class="col-sm-3">

                            
                            <h4>Raised</h4><h3>$<%=  RoundNum(student_info[0].total_funded,2) %></h3>

                        </div>
                        <div class="col-sm-5" style="text-align:center;">

                            <!-- <canvas class="text-center" id="serverstatus14" height="120" width="120"></canvas>
                            <p class="indicate" style="margin-top: -75px;"><strong>70%</strong></p>
                            -->

                            <canvas id="serverstatus14" height="120" width="120"></canvas>
                            <%if (student_info[0].loan_amount == "0") { %>
                            <p class="text-center indicate">0%</p>
                            <input type="hidden" id="loan_percent" value="0">
                            <% } else {%>
                            <% var percentage=  (student_info[0].total_funded/student_info[0].loan_amount)*100 %>
                            <p class="text-center indicate" style="margin-top:-75px;"><%= RoundNum(percentage,2) %>%</p>
                            <input type="hidden" id="loan_percent" value="<%= (student_info[0].total_funded/student_info[0].loan_amount)*100 %>">
                            <% } %>



                        </div>
                        <div class="col-sm-4">


                            <h4>Goal</h4><h3>$<%= student_info[0].loan_amount %></h3>


                        </div>

                    </div>
                </div>
                <br>

            </div>

            <div class="modal fade col-md-12 center" id="myModal" role="dialog">
                <div class="modal-dialog">

                </div><br>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add new loan</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to add new loan? If you do this, your current loan will be deactivated and new loan will be activated.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="/addloan/<%= student_info[0].student_id %>"><button type="button" class="btn btn-default">Yes</button></a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>


            <div class="row">
                <% var temp= req.flash('active_menu') %>

                <ul class="nav nav-tabs">
                    <li class="<%= (temp.length <= 0)&&(!current_menu) ? 'active' : '' %>"><a data-toggle="tab" href="#home" class="profile_tabs">Account Information</a></li>
                    <li class="<%= (temp[0]=='menu1')||(current_menu=='menu1') ? 'active': '' %>"><a data-toggle="tab" href="#menu1"  class="profile_tabs">Funding Profile</a></li>
                    <!--<li><a data-toggle="tab" href="#menu2" class="profile_tabs">Loan Details</a></li>-->
                    <li class="<%= (temp[0]=='menu3')||(current_menu=='menu3') ? 'active': '' %>"><a data-toggle="tab" href="#menu3" class="profile_tabs">Funding Profile Media</a></li>

                </ul>

                <div class="tab-content">


                    <div id="home" class="tab-pane fade <%= (temp.length <= 0)&&(!current_menu) ? 'in active' : '' %>"><div class="col-md-12 white_bg">
                            <div class="row pull-right"> <a href="/personalinfo" class="btn btn-theme04 edit_op"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></div><br>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">First Name: <br>
                                        </span><%= student_info[0].student_firstname %></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">Last Name: <br>
                                        </span><%= student_info[0].student_lastname %></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">Birth Date: <a href="#" data-toggle="tooltip" title="Your contact information and birth date will not be visible to the public."><i  class="glyphicon glyphicon-question-sign"></i></a> <br>
                                            <% console.log(student_info[0].student_birthdate) %>
                                        </span><%= (student_info[0].student_birthdate!='0000-00-00')? student_info[0].student_birthdate : 'MM-DD-YYYY' %></p>
                                </div>

                            </div><br>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">Contact Number: <br>
                                        </span><%= student_info[0].student_contactno %></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">Email: <br>
                                        </span><%= student_info[0].student_email %></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="info"> <span class="small">Address: <br>
                                        </span><%= student_info[0].student_address %></h4>
                                </div>

                            </div><br>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">City: <br>
                                        </span><%= student_info[0].student_city %></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">State: <br>
                                        </span><%= student_info[0].student_state %></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">Country: <br>
                                        </span><%= student_info[0].student_country %></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="info"> <span class="small">Zip Code: <br>
                                        </span><%= student_info[0].zip_code %></p>
                                </div>
                            </div><br>
                            <div class="row">

                            </div><br>

                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade <%= (temp[0]=='menu1')||(current_menu=='menu1') ? 'in active': '' %>">
                        <div class="col-md-12 white_bg" style="min-height:300px;">

                            <div class="row pull-right">
                                <a href="/educationandlaoninfo" class="btn btn-theme04 edit_op"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                            </div>
                            <br>
                            <div class="row">

                                <div class="col-md-4">
                                    <p class="info">  <span class="small">University / Educational Institution: <br>
                                        </span><%= student_info[0].student_education_institute %></p>
                                </div>
                                <div class="col-md-4 bot">
                                    <p class="info">  <span class="small">Field of study: <br>
                                        </span><%= student_info[0].student_education_fieldofstudy  %></p>
                                </div>
                            </div> 
                            <br>
                            <br>
                            <div class="row" style="margin-left:0px;">
                                <div style="font-size:22px;" class="row edit_op">Loan Details

                                    <!--                                    <div class="row pull-right"> <% if (student_info[0].loan_id != null) { %><a href="/loan_edit/<%= student_info[0].student_id %>/<%= student_info[0].loan_id %>" class="btn btn-theme04"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a> <% } %>
                                                                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add new loan <i class="fa fa-plus" aria-hidden="true"></i></button></a></div>-->
                                    <br>
                                    <br>
                                </div>

                                <%if (student_info[0].loan_bankname != '' || student_info[0].fafsa_values != '' || student_info[0].fafsa_values != null || student_info[0].loan_bankname != null) { %>
                                <div class="row">

                                    <div class="col-md-3">
                                        <p class="info">  <span class="small">Loan Current Balance: <br>
                                            </span>$<%= student_info[0].loan_amount %></p>

                                    </div>

                                    <div class="col-md-6">

                                        <%if (student_info[0].loan_type == 'fafsa') { %>
                                        <div class="col-md-6">
                                            <p class="info">  <span class="small">Type of Loan: <br>
                                                </span>
                                                FAFSA
                                        </div>
                                        <div class="col-md-6">
                                            <p class="info">  <span class="small">Loan Servicer: <br>
                                                </span><%= student_info[0].fafsa_values %></p>
                                        </div>
                                        <% } else { %>
                                        <div class="col-md-6">
                                            <p class="info"> <span class="small">Type of Loan: <br>
                                                </span>Bank Loan</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="info"> <span class="small">Loan Servicer: <br>
                                                </span><%= student_info[0].loan_bankname %></p>
                                        </div>
                                        <% } %>
                                    </div>



                                    <div class="col-md-3">
                                        <p class="info">  <span class="small">Loan Account Number:<a href="#" data-toggle="tooltip" title="Your loan account number will not be visible to the public."> <i  class="glyphicon glyphicon-question-sign"></i></a> <br>
                                            </span><%= student_info[0].loan_accountno %></p>
                                    </div>

                                    <br><br><br><br><br>
                                </div>
                                <% } %>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="info"> <span class="small">About Me: <br>
                                            </span><span id="about_me"></span></p>
                                    </div>
                                </div>
                                <div class="row"><br>
                                    <div class="col-md-12 bot">
                                        <p class="info"> <span class="small">My Ambition: <br>
                                            </span><span id="ambition"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="menu2" class="tab-pane fade <%= (temp[0]=='menu2')||(current_menu=='menu2') ? 'in active': '' %>">
                        <div class="col-md-12 white_bg">
                            <div style="font-size:22px;" class="row edit_op">Current Loan

                                <div class="row pull-right"> <%if (student_info[0].loan_id != null) { %><a href="/loan_edit/<%= student_info[0].student_id %>/<%= student_info[0].loan_id %>" class="btn btn-theme04"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a> <% } %>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add new loan <i class="fa fa-plus" aria-hidden="true"></i></button></a></div>
                                <br>
                                <br>
                            </div>
                            <%if (student_info[0].loan_bankname != '' || student_info[0].fafsa_values != '' || student_info[0].fafsa_values != null || student_info[0].loan_bankname != null) { %>
                            <div class="row">

                                <div class="col-md-3">
                                    <p class="info">  <span class="small">Loan Current Balance: <br>
                                        </span>$<%= student_info[0].loan_amount %></p>

                                </div>

                                <div class="col-md-6">
                                    <%if (student_info[0].loan_bankname == '') { %>
                                    <div class="col-md-6">
                                        <p class="info">  <span class="small">Type of Loan: <br>
                                            </span>FAFSA</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="info">  <span class="small">Loan Servicer: <br>
                                            </span><%= student_info[0].fafsa_values %></p>
                                    </div>
                                    <% } else { %>
                                    <div class="col-md-6">
                                        <p class="info"> <span class="small">Type of Loan: <br>
                                            </span>Bank loan</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="info"> <span class="small">Loan Servicer: <br>
                                            </span><%= student_info[0].loan_bankname %></p>
                                    </div>
                                    <% } %>
                                </div>



                                <div class="col-md-3">
                                    <p class="info">  <span class="small">Loan Account Number:<a href="#" data-toggle="tooltip" title="Your loan account number will not be visible to the public."> <i  class="glyphicon glyphicon-question-sign"></i></a> <br>
                                        </span><%= student_info[0].loan_accountno %></p>
                                </div>

                                <br><br><br><br><br>
                            </div>
                            <% } %>
                            <div>

                                <h3>Previous loans</h3><br>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Type of Loan</th>
                                            <th>Loan Servicer</th>
                                            <th>Name of Bank</th>
                                            <th>Account Number</th>
                                            <th>Loan Current Balance</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% _.each(loan_list, function (loan_list) { %>
                                        <tr>
                                            <%if (loan_list.loan_bankname == '') { %>
                                            <td>FAFSA</td>
                                            <% } else {%>
                                            <td>Bank loan</td>

                                            <% } %>

                                            <td><%= loan_list.fafsa_values %></td>
                                            <td><%= loan_list.loan_bankname %></td>
                                            <td><%= loan_list.loan_accountno %></td>
                                            <td><%= loan_list.loan_amount %></td>


                                            <td>Deactivated</td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="menu3" class="tab-pane fade <%= (temp[0]=='menu3')||(current_menu=='menu3') ? 'in active': '' %>">
                        <div class="col-md-12 white_bg">
                            <h3><u>Funding Profile Media</u> <span class="pull-right"><a href="/media_edit/<%= student_info[0].student_id %>" class="btn btn-theme04"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></span></h3><br>

                            <div class="row">
                                <h3 style="margin-left:15px"> Your Video</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-5">

                                    <% if(student_info[0].video_link !=''){ %>
                                    <% var video_link = student_info[0].video_link %>
                                    <% var video_link = video_link.split('?v=') %>

                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video_link[1] %>" frameborder="0" allowfullscreen> 
                                        </iframe>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                            <br>   
                            <div class="row">

                                <h3 style="margin-left:15px">Your Images</h3>

                            </div>
                            <div class="row">
                                <% _.each(pics, function (pics) { %>
                                <div class="col-md-4" >
                                    <a href="../index_files/uploads/<%= student_info[0].student_id %>/<%= pics.photo_path %>" data-lightbox="example-set" data-title="My caption">
                                        <img class="img-responsive" src="../index_files/uploads/<%= student_info[0].student_id %>/<%= pics.photo_path %>"><br><br>
                                        </div>

                                        <% }) %>

                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="col-md-3">
                                            <%- include ../stud_right.ejs %>
                                        </div>    
                                        </section>  


                                        </section>

                                        <%- include ../stufoot.ejs %>
                                        <script src="../../index_files/lightbox.js"></script>
                                        <script>
                                            lightbox.option({
                                                'resizeDuration': 200,
                                                'wrapAround': true
                                            })
                                        </script>



                                        <script>
                                            var completePer = parseInt($("#loan_percent").val());
                                            var remainingPer = parseInt(100 - completePer);

                                            var doughnutData = [
                                                {
                                                    value: parseInt(completePer),
                                                    color: "#68dff0"
                                                },
                                                {
                                                    value: parseInt(remainingPer),
                                                    color: "#fdfdfd"
                                                }
                                            ];
                                            var myDoughnut = new Chart(document.getElementById("serverstatus14").getContext("2d")).Doughnut(doughnutData);
                                        </script>
                                        <script>
                                            function htmlEncode(value) {
                                                return $('<div/>').text(value).html();
                                            }

                                            function htmlDecode(value) {
                                                return $('<div/>').html(value).text();
                                            }
                                            var about_me = htmlDecode(`<%= student_info[0].student_about_me.replace(/\n/gi,'<br/>')%>`);
                                            var ambition = htmlDecode(`<%= student_info[0].student_ambition.replace(/\n/gi,'<br/>')%>`);


                                            $(document).ready(function () {
                                                $('#about_me').html(about_me);
                                                $('#ambition').html(ambition);
                                            });
                                        </script>

                                        <script>
                                            lightbox.option({
                                                'resizeDuration': 200,
                                                'wrapAround': true
                                            })
                                        </script>
                                        <script>

                                            $('#studentprofile').addClass('active');
                                        </script>