<%- include ../stuhead.ejs %>

<%- include ../stud_left.ejs %>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />

<!-- Fix for old browsers -->
<script src="http://nervgh.github.io/js/es5-shim.min.js"></script>
<script src="http://nervgh.github.io/js/es5-sham.min.js"></script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="../../index_files/stdash/js/console-sham.js"></script>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<!--<script src="../bower_components/angular/angular.js"></script>-->
<script src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
<script src="../../index_files/stdash/js/angular-file-upload.min.js"></script>
<script src="/controllers.js"></script>

<!--thumbnails for images-->
<script src="/directives.js"></script>

<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }

    html, body { height: 100%; }

    canvas {
        background-color: #f3f3f3;
        -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
        -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
        box-shadow: 3px 3px 3px 0 #e3e3e3;
        border: 1px solid #c3c3c3;
        height: 100px;
        margin: 6px 0 0 6px;
    }
</style>
<style>
    div.tooltip-inner {
        max-width: 350px;
    }
</style>

<style type="text/css">
    .form-control.fileip {
        width: 300px;
        display: inline-block;
        margin-right: 10px;
    }
    .filebtn {
        display: inline-block !important;
    }
    .form-horizontal .form-group {
        margin-left: 0px; 
    }
    .add_field_button {
        margin-bottom: 15px;
    }
    input[type=file]:before {
        content: '\f0c6    Browse';
        font-family: 'FontAwesome';
        width: 87px;
        height: 32px;
        background: #00a290;
        display: block;
        color: #fff;
        font-size: 15px;
        position: absolute;
        cursor: pointer;
        margin-top: -5px;
        border-radius: 4px;
        padding: 3px 10px;
        border: 1px solid #008677;
    }
    .add_more{
        background-color: #00a290 !important;
        border-color: #00a290 !important;
    }
    .remove_field{
        font-size: 22px;
    }
    .pointer{
        cursor:pointer;
    }
</style>

<section id="main-content">
    <section class="wrapper" ng-app="app" ng-controller="AppController">
        <% if (student_info[0].loan_id == null && student_info[0].education_id == null){ %>
        <form  ng-submit="submitForm()" class="form" method="POST" enctype="multipart/form-data" action="/add_loan_education/<%= student_info[0].student_id %>" name="loan_eduction_form" id="loan_eduction_form" novalidate>
            <% }else{ %>
            <form class="form" method="POST" enctype="multipart/form-data" action="/loan_edit_submit/<%= student_info[0].student_id %>/<%= student_info[0].loan_id %>" name="loan_eduction_form" id="loan_eduction_form" novalidate>
                <% } %>
                <div class="row">
                    <div class="col-sm-9">

                        <!--form action="/education_edit_submit" method="POST" role="form"-->
                        <!--<form class="form" ng-submit="submitForm()" name="loanform" novalidate>-->
                        <% console.log(student_info[0].loan_type) %>

                        <h2>Education details</h2><br>


                        <div class="form-group col-md-6">

                            <label for="student_education_institute">Enter your University / Educational Institution: </label>
                            <input type="text" ng-model="student.student_education_institute" class="form-control" id="student_education_institute" ng-maxlength="200" name="student_education_institute" placeholder="Enter your education institute" value="<%= student_info[0].student_education_institute %>" required>
                            <p ng-show="submitted && loan_eduction_form.student_education_institute.$error.required"  class="help-block has-error ng-hide">Institute name is required.</p>
                            <p ng-show="submitted && loan_eduction_form.student_education_institute.$error.maxlength"  class="help-block has-error ng-hide">Institute's name limit exceeds.</p>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="student_education_fieldofstudy">Enter your field of study: </label>
                            <input type="text" ng-maxlength="200" ng-model="student.student_education_fieldofstudy" class="form-control" id="student_education_fieldofstudy" name="student_education_fieldofstudy" placeholder="Enter your field of study" value="<%= student_info[0].student_education_fieldofstudy %>" required>
                            <p ng-show="submitted && loan_eduction_form.student_education_fieldofstudy.$error.required"  class="help-block has-error ng-hide">Field of study is required.</p>
                            <p ng-show="submitted && loan_eduction_form.student_education_fieldofstudy.$error.maxlength"  class="help-block has-error ng-hide">Field name limit exceeds.</p>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">

                        <h2>Loan details&nbsp;&nbsp; <span class="small"></span></h2>
                        <br>  

                        <div class="row">

                            <div class="col-md-6">
                                <label for="loan_purpose_name">Select the type of loan <span>*</span>: </label><br>
                                <select name="loan_type" ng-model="student.loan_type" id="loan_type" value="" class="dropdown form-group"  required>
                                    <option value="">Select loan type</option>
                                    <option value="fafsa">FAFSA</option>
                                    <option value="bankloan">Bank loan</option>
                                </select>
                                <p ng-show="submitted && loan_eduction_form.loan_type.$error.required"  class="help-block has-error ng-hide">Loan Type is required.</p>
                            </div>

                            <div class="col-md-6">
                                <!--<div id="fafsa" style="<% if(student_info[0].loan_type == 'bankloan'){ %>display: none;<% } %>">-->
                                <div id="fafsa" style="<%= (student_info[0].loan_type == 'fafsa') ? 'display: block':'display: none' %>">

                                    <label for="fafsa">Select loan name <span>*</span>:  <a href="#" data-toggle="tooltip" title="Your loan servicer manages billing and services related to your federal student loan. Loan servicers work with students on repayment plans and consolidation. It’s important to keep in touch with your servicer. If life circumstances change, the servicer may be of help. "> <i  class="glyphicon glyphicon-question-sign"></i></a></label><br>
                                    <select name="fafsa_values" ng-model="student.fafsa_values" id="fafsa_value" class="dropdown form-group" <%= (student_info[0].loan_type == 'fafsa') ? 'required':'' %>>
                                            <option value="">Select Loan Name</option>
                                        <option value="1">CornerStone</option>
                                        <option value="2">FedLoan Servicing (PHEAA)</option>
                                        <option value="3">Granite State – GSMR</option>
                                        <option value="4">Great Lakes Educational Loan Services, Inc.</option>
                                        <option value="5">HESC/Edfinancial</option>
                                        <option value="6">MOHELA</option>
                                        <option value="7">Navient</option>
                                        <option value="8">Nelnet</option>
                                        <option value="9">OSLA Servicing</option>
                                        <option value="10">VSAC Federal Loans</option>
                                        <option value="11">Other</option>
                                        <option value="12">I don’t know </option>
                                    </select>
                                    <p ng-show="submitted && loan_eduction_form.fafsa_values.$error.required"  class="help-block has-error ng-hide">Loan name is required.</p>
                                </div>


                                <div id="bankloan" style="<%= (student_info[0].loan_type == 'bankloan') ? 'display: block':'display: none' %>">
                                    <div class="form-group">
                                        <label for="loan_bankname">Enter your bank name <span>*</span>: </label>
                                        <input type="text" ng-model="student.loan_bankname"  class="form-control" id="loan_bankname"   name="loan_bankname" placeholder="Enter your bank name" value="<%= student_info[0].loan_bankname %>" <%= (student_info[0].loan_type == 'bankloan') ? 'required':'' %>>
                                               <p ng-show="submitted && loan_eduction_form.loan_bankname.$error.required"  class="help-block has-error ng-hide">Loan Bankname is required.</p>
                                        <!--<p ng-show="submitted && loan_eduction_form.loan_bankname.$error.pattern"  class="help-block has-error ng-hide">Not valid bank name.</p>-->
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="loan_accountno">Enter your loan account number <span>*</span>:<a href="#" data-toggle="tooltip" title="We can only help you crowd fund 1 loan at a time. Choose your largest loan or the one that is due sooner. "> <i  class="glyphicon glyphicon-question-sign"></i></a> </label>
                                    <input type="text" ng-model="student.loan_accountno"   class="form-control" id="loan_accountno" name="loan_accountno" placeholder="Enter your loan account number" value="<%= student_info[0].loan_accountno %>" required>
                                    <p ng-show="submitted && loan_eduction_form.loan_accountno.$error.required"  class="help-block has-error ng-hide">Loan account no is required.</p>
                                    <!--<p ng-show="submitted && loan_eduction_form.loan_accountno.$error.pattern"  class="help-block has-error ng-hide">Not valid account number.</p>-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="loan_amount">Enter your loan current balance <span>*</span>: <a href="#" data-toggle="tooltip" title=" This is the remaining amount of balance due for you to pay your loan/s up. For FAFSA loans, it is the combination of all your loans (principle, interest, fees, and subsidized or unsubsidized) if you have multiple loans. Look for ‘current balance’ on your statement."><i  class="glyphicon glyphicon-question-sign"></i></a> </label>
                                    <input type="text" ng-model="student.loan_amount" class="form-control"    data-validation-length="2-6" id="loan_amount" name="loan_amount" placeholder="Enter your loan account number" value="<%= student_info[0].loan_amount %>" required>
                                    <p ng-show="submitted && loan_eduction_form.loan_amount.$error.required"  class="help-block has-error ng-hide">Loan amount no is required.</p>
                                    <!--<p ng-show="submitted && loan_eduction_form.loan_amount.$error.pattern"  class="help-block has-error ng-hide">Not valid loan amount.</p>-->
                                </div>

                            </div>

                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md-6">


                                <table class="table">
                                    <thead>

                                        <tr>
                                            <th>Document name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (student_info[0].loan_id != null){ %>
                                        <% _.each(loan_docs, function (loan_docs,index) { %>
                                    <div class="modal fade col-md-6 center" style="margin:auto;" id="myModal" role="dialog">
                                        <div class="modal-dialog">

                                        </div><br>
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Delete document</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Do you really want to remove this document? You cannot undo this action.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="/remove_doc/<%= loan_docs.student_id %>/<%= loan_docs.loan_id %>/<%= loan_docs.loan_document_id %>"><button type="button" class="btn btn-default">Yes</button></a>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                            </div>
                                        </div>
                                    </div>
                                    <tr>
                                        <td><%= loan_docs.document_name %></td>
                                        <td><a class="delete-doc" data-value="<%= loan_docs.loan_document_id %>" data="<%= student_info[0].student_id %>" href="javascript:void(0)" ><i class="fa fa-times" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="<% sails.getBaseurl() %>/index_files/uploads/<%= student_info[0].student_id %>/<%= loan_docs.document_path %>" download><i class="fa fa-download" aria-hidden="true"></i></a></td>
                                    </tr>
                                    <% }) %>
                                    <% } %>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                        <br>


                        <br> 
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Loan Documents</h2>
                            </div>
                            <br>
                            <!--<button class="add_field_button btn btn-primary add_more">Add More Fields&nbsp; <span><i class="fa fa-plus"></i></span></button>-->
                        </div>
                        <div class="row">
                            <div class="col-md-12">


                                <!--                                <div class="input_fields_wrap form-horizontal">
                                                                    <div class="form-group">
                                                                        <div class="col-md-6">
                                                                            <% if (student_info[0].loan_id != null && loan_docs.length > 0){ %>
                                
                                                                            <input ng-model="student.document_name" class="form-control fileip" type="text" name="document_name[]"  placeholder="Enter the name of the file" value="" >
                                                                            <% }else{ %>
                                                                            <input ng-model="student.document_name" class="form-control fileip" type="text" name="document_name[]"  placeholder="Enter the name of the file" value="" required>
                                                                            <% } %>
                                                                            <p ng-show="submitted && loan_eduction_form.document_name.$error.required"  class="help-block has-error ng-hide">Document name is required.</p>
                                                                        </div> 
                                                                        <div class=" col-md-6">
                                
                                                                            <input type="file" name="loan_doc" ng-model="student.loan_doc" class="filebtn pull-right" value="" > 
                                                                            <p ng-show="submitted && loan_eduction_form.loan_doc.$error.required"  class="help-block has-error ng-hide">Loan document is required.</p>
                                
                                                                        </div> 
                                
                                                                    </div>
                                                                </div>-->
                                <div  nv-file-drop="" uploader="uploader">

                                    <div class="container">

                                        <div class="row">

                                            <div class="col-md-2">

                                                <h3>Select Images</h3>



                                                <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                                                <input type="file" name="image_files[]" nv-file-select="" uploader="uploader" ng-model="user.image_files" multiple  /><br/>

                                            </div>

                                            <div class="col-md-10" style="margin-bottom: 40px">

                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th width="50%">Name</th>

                                                            <th ng-show="uploader.isHTML5">Progress</th>

                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in uploader.queue">
                                                            <td>
                                                                <strong>{{ item.file.name}}</strong>
                                                                <!-- Image preview -->
                                                                <!--auto height-->
                                                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                                                <!--auto width-->
                                                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                                                <!--fixed width and height -->
                                                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                                            </td>

                                                            <td ng-show="uploader.isHTML5">
                                                                <div class="progress" style="margin-bottom: 0;">
                                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                                </div>
                                                            </td>

                                                            <td nowrap>
                                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                                                </button>
                                                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                                </button>
                                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <div>
                                                    <div>
                                                        Queue progress:
                                                        <div class="progress" style="">
                                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                                        <span class="glyphicon glyphicon-upload"></span> Upload all
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                                        <span class="glyphicon glyphicon-trash"></span> Remove all
                                                    </button>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <br><br>
                                <!--<input type="hidden" value="<%= student_info[0].student_id %>" name="student_id">-->
                                <input type="hidden" value="<%= student_info[0].education_id %>" name="education_id">
                                <div class="form-group">
                                    <input type="hidden" id="file_name" name="file_name[]" value="">
                                    <button type="submit" ng-click="submitted = true" class="btn btn-default text-center">Submit</button>
                                    <a href="/viewprofile/<%= student_info[0].student_id %>"><button type="cancel" class="btn btn-default text-center">Cancel</button></a>
                                </div>


                            </div>
                            <br><br><br>
                        </div>
                    </div>
                </div>
            </form> 
            <div class="col-md-3">
                <%- include ../stud_right.ejs %>
            </div>
    </section>
</section>  



<%- include ../stufoot.ejs %>

<link href="../../index_files/stdash/css/sweetalert.css" rel="stylesheet">
<script src="../../index_files/stdash/js/sweetalert.min.js"></script>
<script src="../../index_files/stdash/js/sweetalert-dev.js"></script>

<script>
                                                $('.delete-doc').click(function () {
                                        var loan_document_id = $(this).attr('data-value');
                                                var student_id = $(this).attr('data');
                                                swal({title: "Are you sure?",
                                                        type: "warning",
                                                        showCancelButton: true,
                                                        confirmButtonColor: "#DD6B55",
                                                        confirmButtonText: "Yes, Delete it!",
                                                        closeOnConfirm: false
                                                },
                                                        function () {

                                                        $.ajax({
//                url: "/change_status",
                                                        url: "/remove_doc/" + loan_document_id,
                                                                type: "POST",
                                                                async: true,
//                dataType: 'json',

                                                                //your form data to post goes here
                                                                success: function (response) {
                                                                window.location.reload();
                                                                }
                                                        });
                                                        });
                                        });</script>

<script type="text/javascript">
            $(document).ready(function () {
    $('#loan_type').change(function () {
    if ($(this).val() == 'fafsa') {
    $('#fafsa').show();
            $('#bankloan').hide();
            $('#loan_bankname').removeAttr('required');
            $('#fafsa_value').add('attr', 'required');
    } else {

    $('#fafsa').hide();
            $('#bankloan').show();
            $('#fafsa_value').removeAttr('required');
            $('#loan_bankname').add('attr', 'required');
    }
    });
    });</script>

<script>
            var files = [];
            'use strict';
            angular


            .module('app', ['angularFileUpload'])

            .controller('AppController', ['$scope', 'FileUploader', function($scope, FileUploader) {
            $scope.student = {};
                    $scope.student.student_education_institute = '<%= student_info[0].student_education_institute %>';
                    $scope.student.student_education_fieldofstudy = '<%= student_info[0].student_education_fieldofstudy %>';
                    $scope.student.loan_bankname = '<%= student_info[0].loan_bankname %>';
                    $scope.student.loan_accountno = '<%= student_info[0].loan_accountno %>';
                    $scope.student.loan_amount = '<%= student_info[0].loan_amount %>';
                    $scope.student.loan_type = '<%= student_info[0].loan_type %>';
                    $scope.student.fafsa_values = '<%= student_info[0].loan_fafsa_id %>';
                    $('#loan_eduction_form').submit(function () {

            if ($scope.loan_eduction_form.$valid) {
            return true;
            } else {
            return false;
            }

            });
                    var uploader = $scope.uploader = new FileUploader({
                    url: '/uploaddocs/<%= student_info[0].student_id %>'
                    });
                    // FILTERS

                    uploader.filters.push({
                    name: 'imageFilter',
                            fn: function(item /*{File|FileLikeObject}*/, options) {
                                console.log('item')
                                console.log(item)
                                console.log('options')
                                console.log(options)
                            var type = '|' + item.type.slice(item.type.lastIndexOf('/') + 1) + '|';
                                    return '|jpg|png|jpeg|bmp|gif|docx|'.indexOf(type) !== - 1;
                            }
                    });
                    // CALLBACKS

                    uploader.onWhenAddingFileFailed = function(item /*{File|FileLikeObject}*/, filter, options) {
                    console.info('onWhenAddingFileFailed', item, filter, options);
                    };
                    uploader.onAfterAddingFile = function(fileItem) {

                    console.info('onAfterAddingFile', fileItem);
                    };
                    uploader.onAfterAddingAll = function(addedFileItems) {

                    console.info('onAfterAddingAll', addedFileItems);
                    };
                    uploader.onBeforeUploadItem = function(item) {
                    console.info('onBeforeUploadItem', item);
                    };
                    uploader.onProgressItem = function(fileItem, progress) {

                    console.info('onProgressItem', fileItem, progress);
                    };
                    uploader.onProgressAll = function(progress) {
                    console.info('onProgressAll', progress);
                    };
                    uploader.onSuccessItem = function(fileItem, response, status, headers) {

                    console.log('response')
                            console.log(response)
//                            $.each(response, function(index, value) {
                            files.push(response);
//                            })
                            console.log('files')
                            console.log(files)
                            $('#file_name').val(files);
                            console.info('onSuccessItem', fileItem, response, status, headers);
                    };
                    uploader.onErrorItem = function(fileItem, response, status, headers) {

                    console.info('onErrorItem', fileItem, response, status, headers);
                    };
                    uploader.onCancelItem = function(fileItem, response, status, headers) {
                    console.info('onCancelItem', fileItem, response, status, headers);
                    };
                    uploader.onCompleteItem = function(fileItem, response, status, headers) {
                    console.info('onCompleteItem', fileItem, response, status, headers);
                    };
                    uploader.onCompleteAll = function() {
                    console.info('onCompleteAll');
                    };
                    console.info('uploader', uploader);
                    $scope.student = {};
                    $scope.student.video_link = '<%= student_info[0].video_link %>';
                    $('#mediaForm').submit(function () {
            $('.video_link_error_msg').hide();
                    var VIDEO_LINK_REGEXP = /^(?:https?:\/\/)?(?:www\.)?youtube\.com\/watch\?(?=.*v=((\w|-){11}))(?:\S+)?$/;
                    var isMatchRegex = VIDEO_LINK_REGEXP.test($('#video_link').val());
                    if (isMatchRegex || $('#video_link').val() == ''){

            return true;
            } else{

            $('.video_link_error_msg').removeClass('ng-hide');
                    $('.video_link_error_msg').show();
                    return false;
            }

            });
            }]);
            $(document).ready(function(){
    $('#video_link').keyup(function(){
    $('.video_link_error_msg').hide();
    });
    });</script>

<script>
            'use strict';
            angular


            .module('app')


            // Angular File Upload module does not include this directive
            // Only for example


            /**
             * The ng-thumb directive
             * @author: nerv
             * @version: 0.1.2, 2014-01-09
             */
            .directive('ngThumb', ['$window', function($window) {
            var helper = {
            support: !!($window.FileReader && $window.CanvasRenderingContext2D),
                    isFile: function(item) {
                    return angular.isObject(item) && item instanceof $window.File;
                    },
                    isImage: function(file) {
                    var type = '|' + file.type.slice(file.type.lastIndexOf('/') + 1) + '|';
                            return '|jpg|png|jpeg|bmp|gif|docx|'.indexOf(type) !== - 1;
                    }
            };
                    return {
                    restrict: 'A',
                            template: '<canvas/>',
                            link: function(scope, element, attributes) {
                            if (!helper.support) return;
                                    var params = scope.$eval(attributes.ngThumb);
                                    if (!helper.isFile(params.file)) return;
                                    if (!helper.isImage(params.file)) return;
                                    var canvas = element.find('canvas');
                                    var reader = new FileReader();
                                    reader.onload = onLoadFile;
                                    reader.readAsDataURL(params.file);
                                    function onLoadFile(event) {
                                    var img = new Image();
                                            img.onload = onLoadImage;
                                            img.src = event.target.result;
                                    }

                            function onLoadImage() {
                            var width = params.width || this.width / this.height * params.height;
                                    var height = params.height || this.height / this.width * params.width;
                                    canvas.attr({ width: width, height: height });
                                    canvas[0].getContext('2d').drawImage(this, 0, 0, width, height);
                            }
                            }
                    };
            }]);</script>
