<%- include ../stuhead.ejs %>

<%- include ../stud_left.ejs %>

<style>
    div.tooltip-inner {
        max-width: 350px;
    }
</style>

<style type="text/css">
    .form-control.fileip {
        width: 300px;
        display: inline-block;
        margin-right: 10px;
    }
    .filebtn {
        display: inline-block !important;
    }
    .form-horizontal .form-group {
        margin-left: 0px; 
    }
    .add_field_button {
        margin-bottom: 15px;
    }
    input[type=file]:before {
        content: '\f0c6    Browse';
        font-family: 'FontAwesome';
        width: 87px;
        height: 32px;
        background: #00a290;
        display: block;
        color: #fff;
        font-size: 15px;
        position: absolute;
        cursor: pointer;
        margin-top: -5px;
        border-radius: 4px;
        padding: 3px 10px;
        border: 1px solid #008677;
    }
    .add_more{
        background-color: #00a290 !important;
        border-color: #00a290 !important;
    }
    .remove_field{
        font-size: 22px;
    }
    .pointer{
        cursor:pointer;
    }
</style>

<section id="main-content">
    <section class="wrapper" ng-app="postApp" ng-controller="postController">
        <% if (student_info[0].loan_id == null && student_info[0].education_id == null){ %>
        <form  ng-submit="submitForm()" class="form" method="POST" enctype="multipart/form-data" action="/add_loan_education/<%= student_info[0].student_id %>" name="loan_eduction_form" id="loan_eduction_form" novalidate>
            <% }else{ %>
            <form class="form" ng-submit="submitForm()" method="POST" enctype="multipart/form-data" action="/loan_edit_submit/<%= student_info[0].student_id %>/<%= student_info[0].loan_id %>" name="loan_eduction_form" id="loan_eduction_form" novalidate>
                <% } %>
                <div class="row">
                    <div class="col-sm-9">

                        <!--form action="/education_edit_submit" method="POST" role="form"-->
                        <!--<form class="form" ng-submit="submitForm()" name="loanform" novalidate>-->


                        <h2>Education Details</h2><br>


                        <div class="form-group col-md-6">

                            <label for="student_education_institute">Enter your University / Educational Institution: </label>
                            <input type="text" ng-model="student.student_education_institute" class="form-control" id="student_education_institute" ng-maxlength="200" name="student_education_institute" placeholder="Enter your education institute" value="<%= student_info[0].student_education_institute %>" required>
                            <p ng-show="submitted && loan_eduction_form.student_education_institute.$error.required"  class="help-block has-error ng-hide">Institute name is required.</p>
                            <p ng-show="submitted && loan_eduction_form.student_education_institute.$error.maxlength"  class="help-block has-error ng-hide">Institute's name limit exceeds.</p>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="student_education_fieldofstudy">Enter your field of study: </label>
                            <input type="text" ng-maxlength="200" ng-model="student.student_education_fieldofstudy" class="form-control" id="student_education_fieldofstudy" name="student_education_fieldofstudy" placeholder="Enter your field of study" value="<%= student_info[0].student_education_fieldofstudy %>" required>
                            <p ng-show="submitted && loan_eduction_form.student_education_fieldofstudy.$error.required"  class="help-block has-error ng-hide">Field of study is required.</p>
                            <p ng-show="submitted && loan_eduction_form.student_education_fieldofstudy.$error.maxlength"  class="help-block has-error ng-hide">Field name limit exceeds.</p>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">

                        <h2>Loan Details&nbsp;&nbsp; <span class="small"></span></h2>
                        <br>  

                        <div class="row">

                            <div class="col-md-6">
                                <label for="loan_purpose_name">Select the type of loan <span>*</span>: </label><br>
                                <select name="loan_type" ng-model="student.loan_type" id="loan_type" value="" class="dropdown form-group"  required>
                                    <option value="">Select loan type</option>
                                    <option value="fafsa">FAFSA</option>
                                    <option value="bankloan">Bank loan</option>
                                </select>
                                <p ng-show="submitted && loan_eduction_form.loan_type.$error.required"  class="help-block has-error ng-hide">Loan Type is required.</p>
                            </div>

                            <div class="col-md-6">
                                <!--<div id="fafsa" style="<% if(student_info[0].loan_type == 'bankloan'){ %>display: none;<% } %>">-->
                                <div id="fafsa" style="<%= (student_info[0].loan_type == 'fafsa') ? 'display: block':'display: none' %>">

                                    <label for="fafsa">Select loan servicer <span>*</span>:  <a href="#" data-toggle="tooltip" title="Your loan servicer manages billing and services related to your federal student loan. Loan servicers work with students on repayment plans and consolidation. It’s important to keep in touch with your servicer. If life circumstances change, the servicer may be of help. "> <i  class="glyphicon glyphicon-question-sign"></i></a></label><br>
                                    <select name="fafsa_values" ng-model="student.fafsa_values" id="fafsa_value" class="dropdown form-group" <%= (student_info[0].loan_type == 'fafsa') ? 'required':'' %>>
                                            <option value="">Select Loan Name</option>
                                        <option value="1">CornerStone</option>
                                        <option value="2">FedLoan Servicing (PHEAA)</option>
                                        <option value="3">Granite State – GSMR</option>
                                        <option value="4">Great Lakes Educational Loan Services, Inc.</option>
                                        <option value="5">HESC/Edfinancial</option>
                                        <option value="6">MOHELA</option>
                                        <option value="7">Navient</option>
                                        <option value="8">Nelnet</option>
                                        <option value="9">OSLA Servicing</option>
                                        <option value="10">VSAC Federal Loans</option>
                                        <option value="11">Other</option>
                                        <option value="12">I don’t know </option>
                                    </select>
                                    <p ng-show="submitted && loan_eduction_form.fafsa_values.$error.required"  class="help-block has-error ng-hide">Loan name is required.</p>
                                </div>


                                <div id="bankloan" style="<%= (student_info[0].loan_type == 'bankloan') ? 'display: block':'display: none' %>">
                                    <div class="form-group">
                                        <label for="loan_bankname">Enter your bank name <span>*</span>: </label>
                                        <input type="text" ng-model="student.loan_bankname"  class="form-control" id="loan_bankname" ng-pattern="^([A-z ]+)$"  name="loan_bankname" placeholder="Enter your bank name" value="<%= student_info[0].loan_bankname %>" <%= (student_info[0].loan_type == 'bankloan') ? 'required':'' %>>
                                               <p ng-show="submitted && loan_eduction_form.loan_bankname.$error.required"  class="help-block has-error ng-hide">Loan Bankname is required.</p>
                                        <p ng-show="submitted && loan_eduction_form.loan_bankname.$error.pattern"  class="help-block has-error ng-hide">Not valid bank name.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="loan_accountno">Enter your loan account number <span>*</span>:<a href="#" data-toggle="tooltip" title="We can only help you crowd fund 1 loan at a time. Choose your largest loan or the one that is due sooner. "> <i  class="glyphicon glyphicon-question-sign"></i></a> </label>
                                    <input type="text" ng-model="student.loan_accountno"  ng-pattern="^([0-9A-z]+)$" class="form-control" id="loan_accountno" name="loan_accountno" placeholder="Enter your loan account number" value="<%= student_info[0].loan_accountno %>" required>
                                    <p ng-show="submitted && loan_eduction_form.loan_accountno.$error.required"  class="help-block has-error ng-hide">Loan account no is required.</p>
                                    <p ng-show="submitted && loan_eduction_form.loan_accountno.$error.pattern"  class="help-block has-error ng-hide">Not valid account number.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="loan_amount">Enter your loan current balance <span>*</span>: <a href="#" data-toggle="tooltip" title=" This is the remaining amount of balance due for you to pay your loan/s up. For FAFSA loans, it is the combination of all your loans (principle, interest, fees, and subsidized or unsubsidized) if you have multiple loans. Look for ‘current balance’ on your statement."><i  class="glyphicon glyphicon-question-sign"></i></a> </label>
                                    <input type="text" ng-model="student.loan_amount" class="form-control" ng-pattern="^([0-9]+)$"   data-validation-length="2-6" id="loan_amount" name="loan_amount" placeholder="Enter your loan account number" value="<%= student_info[0].loan_amount %>" required>
                                    <p ng-show="submitted && loan_eduction_form.loan_amount.$error.required"  class="help-block has-error ng-hide">Loan amount no is required.</p>
                                    <p ng-show="submitted && loan_eduction_form.loan_amount.$error.pattern"  class="help-block has-error ng-hide">Not valid loan amount.</p>
                                </div>

                            </div>

                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md-6">


                                <table class="table">
                                    <thead>

                                        <tr>
                                            <th>Document name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (student_info[0].loan_id != null){ %>
                                        <% _.each(loan_docs, function (loan_docs,index) { %>
                                    <div class="modal fade col-md-6 center" style="margin:auto;" id="myModal" role="dialog">
                                        <div class="modal-dialog">

                                        </div><br>
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Delete document</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Do you really want to remove this document? You cannot undo this action.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="/remove_doc/<%= loan_docs.student_id %>/<%= loan_docs.loan_id %>/<%= loan_docs.loan_document_id %>"><button type="button" class="btn btn-default">Yes</button></a>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                            </div>
                                        </div>
                                    </div>
                                    <tr>
                                        <td><%= loan_docs.document_name %></td>
                                        <td><a class="delete-doc" data-value="<%= loan_docs.loan_document_id %>" data="<%= student_info[0].student_id %>" href="javascript:void(0)" ><i class="fa fa-times" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="<% sails.getBaseurl() %>/index_files/uploads/<%= student_info[0].student_id %>/<%= loan_docs.document_path %>" download><i class="fa fa-download" aria-hidden="true"></i></a></td>
                                    </tr>
                                    <% }) %>
                                    <% } %>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                        <br>


                        <br> 
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Loan Documents<span class="small"> <a href="#" data-toggle="tooltip" title="Loan documents uploaded here are only visible to Stumuch administration and are not visible to the public. Your loan account number is not visible to the public either."> <i  class="glyphicon glyphicon-question-sign"></i></a></span></h2>
                            </div>
                            <br>
                            <a href="javascript:void(0);" class="add_field_button btn btn-primary add_more">Add More Files&nbsp; <span><i class="fa fa-plus"></i></span></a>
                        </div>
                        <div class="row">
                            <div class="col-md-12">


                                <div class="input_fields_wrap form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <% if (student_info[0].loan_id != null && loan_docs.length > 0){ %>

                                            <input ng-model="student.document_name0" class="form-control fileip" type="text" name="document_name0"  placeholder="Enter the name of the file" value="" >
                                            <% }else{ %>

                                            <input ng-model="student.document_name0" class="form-control fileip" type="text" name="document_name0"  placeholder="Enter the name of the file" value="" required>
                                            <% } %>
                                            <p ng-show="submitted && loan_eduction_form.document_name0.$error.required"  class="help-block has-error ng-hide">Document name is required.</p>
                                        </div> 
                                        <div class=" col-md-6">

                                            <!--<input type="file" name="loan_doc" ng-model="student.loan_doc" class="filebtn pull-right" value="" >--> 
                                            <input type="file"  name="file0" class="doc-file" />

                                        </div> 

                                    </div>
                                </div>
     
                            </div>
                            <br><br><br>
                        </div>
                        <br>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                            <h2>Personal Details</h2> <br>
                            <div class="form-group col-md-12">
                                <label for="student_about_me">* About yourself:  <a href="#" data-toggle="tooltip" title="Describe yourself in a way that would appeal to others who will want to fund you. Honesty is a virtue! If you’re in the work force now, talk about your work and it’s relation to your education."> <i  class="glyphicon glyphicon-question-sign"></i></a></label>
                                <textarea rows="6" ng-model="student.student_about_me" class="form-control" id="student_about_me" name="student_about_me" placeholder="Enter something about you" required></textarea>
                                <p ng-show="submitted && loan_eduction_form.student_about_me.$error.required"  class="help-block has-error ng-hide">About you field is required.</p>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="student_ambition">* Your ambition in life: <a href="#" data-toggle="tooltip" title="What can you do for society with the education that you receive?"> <i  class="glyphicon glyphicon-question-sign"></i></a></label>
                                <textarea rows="6" ng-model="student.student_ambition" class="form-control" id="student_ambition" name="student_ambition" placeholder="Enter your ambition" required></textarea>
                                <p ng-show="submitted && loan_eduction_form.student_ambition.$error.required"  class="help-block has-error ng-hide">Ambition field is required.</p>
                            </div>
                    </div>
                </div>
                      <input type="hidden" value="<%= student_info[0].education_id %>" name="education_id">
                                <div class="form-group">
                                    <button type="submit" ng-click="submitted = true" class="btn btn-default text-center">Submit</button>
                                    <a href="/viewprofile?tab=menu1" class="btn btn-default text-center">Cancel</a>
                                </div>
            </form> 
            <div class="col-md-3">
                <%- include ../stud_right.ejs %>
            </div>
    </section>
</section>  



<%- include ../stufoot.ejs %>

<link href="../../index_files/stdash/css/sweetalert.css" rel="stylesheet">
<script src="../../index_files/stdash/js/sweetalert.min.js"></script>
<script src="../../index_files/stdash/js/sweetalert-dev.js"></script>

<script>
                                        $('.delete-doc').click(function () {
                                            var loan_document_id = $(this).attr('data-value');
                                            var student_id = $(this).attr('data');
                                            swal({title: "Are you sure?",
                                                type: "warning",
                                                showCancelButton: true,
                                                confirmButtonColor: "#DD6B55",
                                                confirmButtonText: "Yes, Delete it!",
                                                closeOnConfirm: false
                                            },
                                            function () {

                                                $.ajax({
                                                    url: "/remove_doc/" + loan_document_id,
                                                    type: "POST",
                                                    async: true,
                                                    success: function (response) {
                                                        window.location.reload();
                                                    }
                                                });
                                            });
                                        });</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#loan_type').change(function () {
            if ($(this).val() == 'fafsa') {
                $('#fafsa').show();
                $('#bankloan').hide();
                $('#loan_bankname').removeAttr('required');
                $('#fafsa_value').add('attr', 'required');
            } else {

                $('#fafsa').hide();
                $('#bankloan').show();
                $('#fafsa_value').removeAttr('required');
                $('#loan_bankname').add('attr', 'required');
            }
        });
    });</script>

<script>
    var files = [];
    var postApp = angular.module('postApp', []);
    postApp.controller('postController', function ($scope, $http) {
        $scope.student = {};

        $scope.student.student_education_institute = '<%= student_info[0].student_education_institute %>';
        $scope.student.student_education_fieldofstudy = '<%= student_info[0].student_education_fieldofstudy %>';
        $scope.student.loan_bankname = '<%= student_info[0].loan_bankname %>';
        $scope.student.loan_accountno = '<%= student_info[0].loan_accountno %>';
        $scope.student.loan_amount = '<%= student_info[0].loan_amount %>';
        $scope.student.loan_type = '<%= student_info[0].loan_type %>';
        $scope.student.fafsa_values = '<%= student_info[0].loan_fafsa_id %>';
        $scope.student.student_about_me = `<%= student_info[0].student_about_me %>`;
                                    $scope.student.student_ambition = `<%= student_info[0].student_ambition %>`;
//        $scope.student.files = $scope.files;

        $('#loan_eduction_form').submit(function () {

            if ($scope.loan_eduction_form.$valid) {
                return true;
            } else {
                return false;
            }

        });
    });


    $('.add_more').click(function () {
        var temp = $('.fileip').length;
        // temp = temp + 1;
        $('.input_fields_wrap').append('<div class="form-group"><div class="col-md-6"><input class="form-control fileip" name="document_name' + temp + '" placeholder="Enter the name of the file" value="" type="text"></div><div class="col-md-6"><input name="file' + temp + '" class="doc-file" type="file"></div></div>')
    })
</script>



<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });</script>

<script>

    $('#studentprofile').addClass('active');
</script>